# Mosques  Data

In [4]:
import pandas as pd
import json
import csv
import time
import sys
import http.client, urllib.request, urllib.parse, urllib.error, base64
import googletrans 
from googletrans import Translator

## Data Request

In [21]:
astrings1 = list()


try:
    conn = http.client.HTTPSConnection('apina.address.gov.sa')
    for page_num in range(1, 198):
                    conn.request("GET", "https://apina.address.gov.sa/NationalAddress/v3.1/address/poi-fixed-params?language=E&format=JSON&ServiceString=Mosque&cityname=riyadh&api_key=e5f9ea9216e446be97227cf99e679618&page=" + str(page_num))
                    response = conn.getresponse()
                    data= response.read()
                    decode=data.decode('utf-8', 'ignore')
                    astrings1.append(decode)
                    time.sleep(10)
                    conn.close()                
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

####################################

## Data Assesment

In [22]:
df=pd.Series(astrings1).to_frame()

In [23]:
df.tail(60)

                                                     0
137  {"totalSearchResults":"1970","Addresses":[{"Ti...
138  {"totalSearchResults":"1970","Addresses":[{"Ti...
139  {"totalSearchResults":"1970","Addresses":[{"Ti...
140  {"totalSearchResults":"1970","Addresses":[{"Ti...
141  {"totalSearchResults":"1970","Addresses":[{"Ti...
142  {"totalSearchResults":"1970","Addresses":[{"Ti...
143  {"totalSearchResults":"1970","Addresses":[{"Ti...
144  {"totalSearchResults":"1970","Addresses":[{"Ti...
145  {"totalSearchResults":"1970","Addresses":[{"Ti...
146  {"totalSearchResults":"1970","Addresses":[{"Ti...
147  {"totalSearchResults":"1970","Addresses":[{"Ti...
148  {"totalSearchResults":"1970","Addresses":[{"Ti...
149  {"totalSearchResults":"1970","Addresses":[{"Ti...
150  {"totalSearchResults":"1970","Addresses":[{"Ti...
151  {"totalSearchResults":"1970","Addresses":[{"Ti...
152  {"totalSearchResults":"1970","Addresses":[{"Ti...
153  {"totalSearchResults":"1970","Addresses":[{"Ti...
154  {"totalSearchResults":"1970","Addresses":[{"Ti...
155  { "statusCode": 500, "message": "Internal serv...
156  {"totalSearchResults":"1970","Addresses":[{"Ti...
157  {"totalSearchResults":"1970","Addresses":[{"Ti...
158  {"totalSearchResults":"1970","Addresses":[{"Ti...
159  {"totalSearchResults":"1970","Addresses":[{"Ti...
160  {"totalSearchResults":"1970","Addresses":[{"Ti...
161  {"totalSearchResults":"1970","Addresses":[{"Ti...
162  {"totalSearchResults":"1970","Addresses":[{"Ti...
163  {"totalSearchResults":"1970","Addresses":[{"Ti...
164  {"totalSearchResults":"1970","Addresses":[{"Ti...
165  {"totalSearchResults":"1970","Addresses":[{"Ti...
166  {"totalSearchResults":"1970","Addresses":[{"Ti...
167  {"totalSearchResults":"1970","Addresses":[{"Ti...
168  {"totalSearchResults":"1970","Addresses":[{"Ti...
169  {"totalSearchResults":"1970","Addresses":[{"Ti...
170  {"totalSearchResults":"1970","Addresses":[{"Ti...
171  {"totalSearchResults":"1970","Addresses":[{"Ti...
172  {"totalSearchResults":"1970","Addresses":[{"Ti...
173  {"totalSearchResults":"1970","Addresses":[{"Ti...
174  {"totalSearchResults":"1970","Addresses":[{"Ti...
175  {"totalSearchResults":"1970","Addresses":[{"Ti...
176  {"totalSearchResults":"1970","Addresses":[{"Ti...
177  {"totalSearchResults":"1970","Addresses":[{"Ti...
178  {"totalSearchResults":"1970","Addresses":[{"Ti...
179  {"totalSearchResults":"1970","Addresses":[{"Ti...
180  { "statusCode": 500, "message": "Internal serv...
181  {"totalSearchResults":"1970","Addresses":[{"Ti...
182  {"totalSearchResults":"1970","Addresses":[{"Ti...
183  {"totalSearchResults":"1970","Addresses":[{"Ti...
184  {"totalSearchResults":"1970","Addresses":[{"Ti...
185  {"totalSearchResults":"1970","Addresses":[{"Ti...
186  {"totalSearchResults":"1970","Addresses":[{"Ti...
187  {"totalSearchResults":"1970","Addresses":[{"Ti...
188  {"totalSearchResults":"1970","Addresses":[{"Ti...
189  {"totalSearchResults":"1970","Addresses":[{"Ti...
190  {"totalSearchResults":"1970","Addresses":[{"Ti...
191  {"totalSearchResults":"1970","Addresses":[{"Ti...
192  {"totalSearchResults":"1970","Addresses":[{"Ti...
193  {"totalSearchResults":"1970","Addresses":[{"Ti...
194  {"totalSearchResults":"1970","Addresses":[{"Ti...
195  {"totalSearchResults":"1970","Addresses":[{"Ti...
196  {"totalSearchResults":"1970","Addresses":[{"Ti...

## Create a Dataframe

In [113]:
x=0 
for index, row in df.iterrows():
    if x==0:
              y=df[0][index]
              result=pd.read_json (y)
    else:
                y=df[0][index]
                if "Internal server error" in y :
                    print()
                else:
                    result=result.append(pd.read_json (y))
    x=x+1

In [114]:
result.head(50)

,totalSearchResults,Addresses,PostCode,success,result,statusdescription,fullexception
0,1970,"{'Title': ' mosque', 'Address1': '7619 Baghdad...",NaN,True,NaN,SUCCESS,NaN
1,1970,"{'Title': 'abdul aziz al dubaie mosque', 'Addr...",NaN,True,NaN,SUCCESS,NaN
2,1970,"{'Title': 'abdul aziz ibn baz mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
3,1970,"{'Title': ' station mosque', 'Address1': '2921...",NaN,True,NaN,SUCCESS,NaN
4,1970,"{'Title': 'abdul aziz alrajhi mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
5,1970,"{'Title': 'abdul azlz as sadhan mosque', 'Addr...",NaN,True,NaN,SUCCESS,NaN
6,1970,"{'Title': 'abd ibn umar mosque', 'Address1': '...",NaN,True,NaN,SUCCESS,NaN
7,1970,{'Title': 'abdul aziz bin abdullah al rawaq mo...,NaN,True,NaN,SUCCESS,NaN
8,1970,"{'Title': 'abdu zar al ghifari mosque', 'Addre...",NaN,True,NaN,SUCCESS,NaN
9,1970,"{'Title': 'abdul aziz bin mohammad mosque', 'A...",NaN,True,NaN,SUCCESS,NaN
0,1970,"{'Title': 'abdul latif jameel mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
1,1970,"{'Title': 'abdul rahman ibn ouf mosque', 'Addr...",NaN,True,NaN,SUCCESS,NaN
2,1970,"{'Title': 'abdul jarallah mosque', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
3,1970,{'Title': 'abdul rahman al sahli khanany frida...,NaN,True,NaN,SUCCESS,NaN
4,1970,"{'Title': 'abdulah ibn udwan mosque', 'Address...",NaN,True,NaN,SUCCESS,NaN
5,1970,"{'Title': 'abdul latif jameel mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
6,1970,{'Title': 'abdul rahman bin abdullah al saud m...,NaN,True,NaN,SUCCESS,NaN
7,1970,"{'Title': 'abdulaziz al othman mosque', 'Addre...",NaN,True,NaN,SUCCESS,NaN
8,1970,"{'Title': 'abdul latif jameel mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
9,1970,"{'Title': 'abdul rahman mosque', 'Address1': '...",NaN,True,NaN,SUCCESS,NaN
0,1970,"{'Title': 'abdulla ibn omar mosque', 'Address1...",NaN,True,NaN,SUCCESS,NaN
1,1970,"{'Title': 'abdullah alaskar mosque ', 'Address...",NaN,True,NaN,SUCCESS,NaN
2,1970,"{'Title': 'abdulla ibn masood mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
3,1970,{'Title': 'abdullah alaqel and his parents mos...,NaN,True,NaN,SUCCESS,NaN
4,1970,{'Title': 'abdulaziz bin mohammed al nassar mo...,NaN,True,NaN,SUCCESS,NaN
5,1970,"{'Title': 'abdullah al qader mosque', 'Address...",NaN,True,NaN,SUCCESS,NaN
6,1970,"{'Title': 'abdullah bin abbas mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
7,1970,"{'Title': 'abdulaziz bin baz mosque', 'Address...",NaN,True,NaN,SUCCESS,NaN
8,1970,"{'Title': 'abdullah al mubarak mosque', 'Addre...",NaN,True,NaN,SUCCESS,NaN
9,1970,"{'Title': 'abdullah alinviei mosque', 'Address...",NaN,True,NaN,SUCCESS,NaN
0,1970,"{'Title': 'abdullah bin masood mosque', 'Addre...",NaN,True,NaN,SUCCESS,NaN
1,1970,"{'Title': 'abdur rahman ad dakhil mosque', 'Ad...",NaN,True,NaN,SUCCESS,NaN
2,1970,"{'Title': 'abi dujanah mosque', 'Address1': '7...",NaN,True,NaN,SUCCESS,NaN
3,1970,"{'Title': 'abdullah bin naser mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
4,1970,{'Title': 'abdur rahman bin abdullah al faryan...,NaN,True,NaN,SUCCESS,NaN
5,1970,"{'Title': 'abdullah bin abbas, may allah be pl...",NaN,True,NaN,SUCCESS,NaN
6,1970,"{'Title': 'abdullah marzooq mosque', 'Address1...",NaN,True,NaN,SUCCESS,NaN
7,1970,"{'Title': 'abi al huda mosque', 'Address1': '6...",NaN,True,NaN,SUCCESS,NaN
8,1970,"{'Title': 'abdullah ibn abbas mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
9,1970,{'Title': 'abdur rahman bin fahad saleh mosque...,NaN,True,NaN,SUCCESS,NaN
0,1970,"{'Title': 'abir al ansari mosque ', 'Address1'...",NaN,True,NaN,SUCCESS,NaN
1,1970,"{'Title': 'abu bakr as siddiq mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
2,1970,"{'Title': 'abu bakr siddiq mosque', 'Address1'...",NaN,True,NaN,SUCCESS,NaN
3,1970,"{'Title': 'abu ayyub alansari mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
4,1970,"{'Title': 'abu bakr as siddiq mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
5,1970,"{'Title': 'abu bakar alsiddiq mosque ', 'Addre...",NaN,True,NaN,SUCCESS,NaN
6,1970,"{'Title': 'abu bakr mosque', 'Address1': '3740...",NaN,True,NaN,SUCCESS,NaN
7,1970,"{'Title': 'abrar mosque ', 'Address1': '7289 a...",NaN,True,NaN,SUCCESS,NaN
8,1970,"{'Title': 'abu bakr as siddiq mosque', 'Addres...",NaN,True,NaN,SUCCESS,NaN
9,1970,"{'Title': 'abu jandal mosque ', 'Address1': '3...",NaN,True,NaN,SUCCESS,NaN

In [115]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1920 entries, 0 to 9
Data columns (total 7 columns):
totalSearchResults    1920 non-null int64
Addresses             1920 non-null object
PostCode              0 non-null float64
success               1920 non-null bool
result                0 non-null float64
statusdescription     1920 non-null object
fullexception         0 non-null float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 91.9+ KB

## Data Cleaning

In [116]:
result.drop(["PostCode","success",'result','statusdescription','success','fullexception'], axis = 1, inplace = True)

In [117]:
result.head()

   totalSearchResults                                          Addresses
0                1970  {'Title': ' mosque', 'Address1': '7619 Baghdad...
1                1970  {'Title': 'abdul aziz al dubaie mosque', 'Addr...
2                1970  {'Title': 'abdul aziz ibn baz mosque', 'Addres...
3                1970  {'Title': ' station mosque', 'Address1': '2921...
4                1970  {'Title': 'abdul aziz alrajhi mosque', 'Addres...

In [118]:
result['Addresses'] = result['Addresses'].astype(str)
d=result.Addresses.str.split(',', expand = True)

In [119]:
d.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,{'Title': ' mosque','Address1': '7619 Baghdad - Al Yarmuk Dist.','Address2': 'RIYADH 13243 - 2675','ObjLatLng': '13243037860 46.7646884930764 24...,'BuildingNumber': '7619','Street': 'Baghdad','District': 'Al Yarmuk Dist.','City': 'RIYADH','PostCode': '13243','AdditionalNumber': '2675',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
1,{'Title': 'abdul aziz al dubaie mosque','Address1': '6485 ibn yasmini - Al Aziziyah D...,'Address2': 'RIYADH 14513 - 3406','ObjLatLng': '14513044846 46.7886825295095 24...,'BuildingNumber': '6485','Street': 'ibn yasmini','District': 'Al Aziziyah Dist.','City': 'RIYADH','PostCode': '14513','AdditionalNumber': '3406',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
2,{'Title': 'abdul aziz ibn baz mosque','Address1': '6480 abi al faraj ad dawadmi - M...,'Address2': 'RIYADH 12954 - 3372','ObjLatLng': '12954017051 46.6156480020001 24...,'BuildingNumber': '6480','Street': 'abi al faraj ad dawadmi','District': 'Middle Oraija Dist.','City': 'RIYADH','PostCode': '12954','AdditionalNumber': '3372',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
3,{'Title': ' station mosque','Address1': '2921 ad dammam rd - Al Janadriya...,'Address2': 'RIYADH 13811 - 8502','ObjLatLng': '13811043058 46.9284835493819 24...,'BuildingNumber': '2921','Street': 'ad dammam rd','District': 'Al Janadriyah Dist.','City': 'RIYADH','PostCode': '13811','AdditionalNumber': '8502',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
4,{'Title': 'abdul aziz alrajhi mosque','Address1': '4731 abi al ashbal - Jareer Dist.','Address2': 'RIYADH 12833 - 8975','ObjLatLng': '12833044675 46.753703437133 24....,'BuildingNumber': '4731','Street': 'abi al ashbal','District': 'Jareer Dist.','City': 'RIYADH','PostCode': '12833','AdditionalNumber': '8975',...,'Title_L2': ' ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None

In [120]:
d.drop([2,3,19,4,5,7,8,9,10,11,12,13,17,18,16,21,22,23,24,25,26,27,28,29,30], axis = 1, inplace = True)

In [121]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1920 entries, 0 to 9
Data columns (total 6 columns):
0     1920 non-null object
1     1920 non-null object
6     1920 non-null object
14    1920 non-null object
15    1920 non-null object
20    1920 non-null object
dtypes: object(6)
memory usage: 60.0+ KB

In [122]:
d.head()

,0,1,6,14,15,20
0,{'Title': ' mosque','Address1': '7619 Baghdad - Al Yarmuk Dist.','District': 'Al Yarmuk Dist.','Latitude': '24.8057950955403','Longitude': '46.7646884930764','DistrictID': '10100003139'
1,{'Title': 'abdul aziz al dubaie mosque','Address1': '6485 ibn yasmini - Al Aziziyah D...,'District': 'Al Aziziyah Dist.','Latitude': '24.5790823022925','Longitude': '46.7886825295095','DistrictID': '10100003029'
2,{'Title': 'abdul aziz ibn baz mosque','Address1': '6480 abi al faraj ad dawadmi - M...,'District': 'Middle Oraija Dist.','Latitude': '24.6055408640001','Longitude': '46.6156480020001','DistrictID': '10100003128'
3,{'Title': ' station mosque','Address1': '2921 ad dammam rd - Al Janadriya...,'District': 'Al Janadriyah Dist.','Latitude': '24.9106153656415','Longitude': '46.9284835493819','DistrictID': '10100003136'
4,{'Title': 'abdul aziz alrajhi mosque','Address1': '4731 abi al ashbal - Jareer Dist.','District': 'Jareer Dist.','Latitude': '24.6874153600978','Longitude': '46.753703437133','DistrictID': '10100003048'

In [123]:
d.columns = ["title","address","district","latitude","longitude","id"]

In [124]:
d.head()

,title,address,district,latitude,longitude,id
0,{'Title': ' mosque','Address1': '7619 Baghdad - Al Yarmuk Dist.','District': 'Al Yarmuk Dist.','Latitude': '24.8057950955403','Longitude': '46.7646884930764','DistrictID': '10100003139'
1,{'Title': 'abdul aziz al dubaie mosque','Address1': '6485 ibn yasmini - Al Aziziyah D...,'District': 'Al Aziziyah Dist.','Latitude': '24.5790823022925','Longitude': '46.7886825295095','DistrictID': '10100003029'
2,{'Title': 'abdul aziz ibn baz mosque','Address1': '6480 abi al faraj ad dawadmi - M...,'District': 'Middle Oraija Dist.','Latitude': '24.6055408640001','Longitude': '46.6156480020001','DistrictID': '10100003128'
3,{'Title': ' station mosque','Address1': '2921 ad dammam rd - Al Janadriya...,'District': 'Al Janadriyah Dist.','Latitude': '24.9106153656415','Longitude': '46.9284835493819','DistrictID': '10100003136'
4,{'Title': 'abdul aziz alrajhi mosque','Address1': '4731 abi al ashbal - Jareer Dist.','District': 'Jareer Dist.','Latitude': '24.6874153600978','Longitude': '46.753703437133','DistrictID': '10100003048'

In [125]:
d['title']=d.title.str.strip('{\'Title\': \'')

In [126]:
d['address']=d.address.str.strip('\'Address1\': \'')

In [127]:
d['district']=d.district.str.strip('\'District\': \'')

In [128]:
d['latitude']=d.latitude.str.strip('\'Latitude\': \'')

In [129]:
d['district']=d.district.str.strip('Dist.')

In [130]:
d['longitude']=d.longitude.str.strip('\'Longitude\': \'')

In [131]:
d['id']=d.id.str.strip('\'DistrictID\': \'')

In [132]:
d.head()

,title,address,district,latitude,longitude,id
0,mosqu,7619 Baghdad - Al Yarmuk Dist.,Al Yarmuk,24.8057950955403,46.7646884930764,10100003139
1,abdul aziz al dubaie mosqu,6485 ibn yasmini - Al Aziziyah Dist.,Al Aziziyah,24.5790823022925,46.7886825295095,10100003029
2,abdul aziz ibn baz mosqu,6480 abi al faraj ad dawadmi - Middle Oraija D...,Middle Oraija,24.6055408640001,46.6156480020001,10100003128
3,station mosqu,2921 ad dammam rd - Al Janadriyah Dist.,Al Janadriyah,24.9106153656415,46.9284835493819,10100003136
4,abdul aziz alrajhi mosqu,4731 abi al ashbal - Jareer Dist.,Jareer,24.6874153600978,46.753703437133,10100003048

In [133]:
d=d.drop_duplicates()

In [134]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455 entries, 0 to 9
Data columns (total 6 columns):
title        1455 non-null object
address      1455 non-null object
district     1455 non-null object
latitude     1455 non-null object
longitude    1455 non-null object
id           1455 non-null object
dtypes: object(6)
memory usage: 45.5+ KB

In [135]:
d.index = range(1455)

## Translation

In [136]:
options = ['10100003101', '10100003016','10100003150']

In [137]:
rslt_df = d.loc[d['id'].isin(options)]

In [138]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 23 to 1393
Data columns (total 6 columns):
title        38 non-null object
address      38 non-null object
district     38 non-null object
latitude     38 non-null object
longitude    38 non-null object
id           38 non-null object
dtypes: object(6)
memory usage: 1.2+ KB

In [139]:
rslt_df.head(38)

,title,address,district,latitude,longitude,id
23,abdullah alaqel and his parents mosqu,2993 muhammad al manofi - Al Narjis Dist.,Al Narjis,24.8795630491403,46.6379960436158,10100003150
57,abu obaida mosqu,3190 - Al Narjis Dist.,Al Narjis,24.8704137495003,46.6476757551231,10100003150
58,addakheel mosqu,3612 ushba - Al Shohda Dist.,Al Shohda,24.7950483043424,46.7381099261954,10100003016
90,Al Khair Qurtuba Mosqu,7372 al ashi bin khais - Qurtubah Dist.,Qurtubah,24.8049859016906,46.7214022668327,10100003101
227,ayed albadrani mosqu,6699 abdul wahid al azji - Qurtubah Dist.,Qurtubah,24.8228598490869,46.7414371979035,10100003101
330,khalid bin al waleed mosqu,2841 al shawka valley - Qurtubah Dist.,Qurtubah,24.8106149839473,46.7402424231728,10100003101
368,mosqu,7188 muqbil uawida jabir al hajuri - Al Shohda...,Al Shohda,24.7867724199911,46.7386604779512,10100003016
369,mosqu,3285 abdullah ibn shayiq - Qurtubah Dist.,Qurtubah,24.8228414346772,46.7262922419588,10100003101
374,mosqu,7925 - Qurtubah Dist.,Qurtubah,24.817493029994,46.7468736245236,10100003101
376,mosqu,3469 al qarn al abyad - Al Shohda Dist.,Al Shohda,24.7852650314438,46.7367664269907,10100003016
377,mosqu,8053 nahawnd - Qurtubah Dist.,Qurtubah,24.8187548833818,46.7496725215073,10100003101
403,mosqu,7142 al shadida - Qurtubah Dist.,Qurtubah,24.8190842081503,46.7294029070323,10100003101
434,mosqu,3167 no. 31 - Al Shohda Dist.,Al Shohda,24.7912274848322,46.7339345669953,10100003016
438,mosqu,2701 hilwan - Qurtubah Dist.,Qurtubah,24.8060514430336,46.7387377917693,10100003101
441,mosqu,6811 himud ayid fahad al harbi - Al Shohda Dist.,Al Shohda,24.7835164845237,46.7338324325975,10100003016
553,mosqu,3701 al khereiss - Qurtubah Dist.,Qurtubah,24.8323260786354,46.7424283822143,10100003101
565,mosqu,2640 jabal al ibra - Qurtubah Dist.,Qurtubah,24.8298401362084,46.7318940260486,10100003101
805,mosqu,4323 no. 344 - Al Narjis Dist.,Al Narjis,24.839149162315,46.6742450436004,10100003150
905,mosqu,7269 al taref - Qurtubah Dist.,Qurtubah,24.8038877093397,46.719301009231,10100003101
911,mosqu,2545 as soyouti - Qurtubah Dist.,Qurtubah,24.8211339094079,46.7190753687277,10100003101
988,Mosqu,6871 yathrib - Qurtubah Dist.,Qurtubah,24.8246614242785,46.7445387638551,10100003101
1018,mosqu,6807 tarut - Qurtubah Dist.,Qurtubah,24.8161798615608,46.7235670175376,10100003101
1085,mosqu,2334 alsaleh - Qurtubah Dist.,Qurtubah,24.8130327542754,46.7351201574655,10100003101
1087,mosqu,7118 as sandal - Qurtubah Dist.,Qurtubah,24.8101731530574,46.7488218798808,10100003101
1109,mosqu,6553 Shadeeq - Qurtubah Dist.,Qurtubah,24.8050892796379,46.7423587146517,10100003101
1136,mosqu,7303 alrothiya - Qurtubah Dist.,Qurtubah,24.828353025223,46.7326232198597,10100003101
1144,mosqu,7452 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.8294891959944,46.7460409393997,10100003101
1157,mosqu,4230 muhra - Qurtubah Dist.,Qurtubah,24.8254165065711,46.747578763236,10100003101
1176,mosque ahmad alrrajih,3195 ibrahim ibn hadi - Al Narjis Dist.,Al Narjis,24.8860845740148,46.6402199392944,10100003150
1178,mosque abi bakr alssddiq,2329 - Al Narjis Dist.,Al Narjis,24.85821178051,46.6481215068317,10100003150
1181,mosque alghayth,6574 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8640542569051,46.6472006164177,10100003150
1183,mosque aleiwad,7212 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8693211938415,46.644655782872,10100003150
1193,mosque alshshaykh muhsin bamjly,7171 alqarshi - Al Narjis Dist.,Al Narjis,24.8526133538371,46.6505728495291,10100003150
1197,mosque alnnarjus,6513 no. 387 - Al Narjis Dist.,Al Narjis,24.8387663823887,46.6787091860858,10100003150
1202,mosque ebdalrrahamn alnnasir,6505 - Al Narjis Dist.,Al Narjis,24.9112948097884,46.6202491258658,10100003150
1211,mosque limqaran,8185 ar rabi - Al Narjis Dist.,Al Narjis,24.8443946543595,46.6691949053046,10100003150
1315,prince sultan bin fahd mosqu,7067 randah - Qurtubah Dist.,Qurtubah,24.8018317907509,46.7345152744538,10100003101
1393,sheikh ali mosque leader,2741 qasim bin mahna al hussaini - Al Narjis D...,Al Narjis,24.8840397544153,46.6357355049559,10100003150

In [140]:
translator = Translator()
for index, row in rslt_df.iterrows():
    element= d['title'][index]
    d['title'][index]= translator.translate(element,dest='ar').text
    rslt_df['title'][index]= translator.translate(element,dest='ar').text

In [141]:
rslt_df.head(38)

,title,address,district,latitude,longitude,id
23,عبدالله alaqeel وأولياء الأمور مسجده,2993 muhammad al manofi - Al Narjis Dist.,Al Narjis,24.8795630491403,46.6379960436158,10100003150
57,أبو عبيدة مسق,3190 - Al Narjis Dist.,Al Narjis,24.8704137495003,46.6476757551231,10100003150
58,addakheel mosqu,3612 ushba - Al Shohda Dist.,Al Shohda,24.7950483043424,46.7381099261954,10100003016
90,أل خير قرطبة مسق,7372 al ashi bin khais - Qurtubah Dist.,Qurtubah,24.8049859016906,46.7214022668327,10100003101
227,عيد البدراني مسق,6699 abdul wahid al azji - Qurtubah Dist.,Qurtubah,24.8228598490869,46.7414371979035,10100003101
330,خالد بين أل وليد مسق,2841 al shawka valley - Qurtubah Dist.,Qurtubah,24.8106149839473,46.7402424231728,10100003101
368,mosqu,7188 muqbil uawida jabir al hajuri - Al Shohda...,Al Shohda,24.7867724199911,46.7386604779512,10100003016
369,mosqu,3285 abdullah ibn shayiq - Qurtubah Dist.,Qurtubah,24.8228414346772,46.7262922419588,10100003101
374,mosqu,7925 - Qurtubah Dist.,Qurtubah,24.817493029994,46.7468736245236,10100003101
376,mosqu,3469 al qarn al abyad - Al Shohda Dist.,Al Shohda,24.7852650314438,46.7367664269907,10100003016
377,mosqu,8053 nahawnd - Qurtubah Dist.,Qurtubah,24.8187548833818,46.7496725215073,10100003101
403,mosqu,7142 al shadida - Qurtubah Dist.,Qurtubah,24.8190842081503,46.7294029070323,10100003101
434,mosqu,3167 no. 31 - Al Shohda Dist.,Al Shohda,24.7912274848322,46.7339345669953,10100003016
438,mosqu,2701 hilwan - Qurtubah Dist.,Qurtubah,24.8060514430336,46.7387377917693,10100003101
441,mosqu,6811 himud ayid fahad al harbi - Al Shohda Dist.,Al Shohda,24.7835164845237,46.7338324325975,10100003016
553,mosqu,3701 al khereiss - Qurtubah Dist.,Qurtubah,24.8323260786354,46.7424283822143,10100003101
565,mosqu,2640 jabal al ibra - Qurtubah Dist.,Qurtubah,24.8298401362084,46.7318940260486,10100003101
805,mosqu,4323 no. 344 - Al Narjis Dist.,Al Narjis,24.839149162315,46.6742450436004,10100003150
905,mosqu,7269 al taref - Qurtubah Dist.,Qurtubah,24.8038877093397,46.719301009231,10100003101
911,mosqu,2545 as soyouti - Qurtubah Dist.,Qurtubah,24.8211339094079,46.7190753687277,10100003101
988,Mosqu,6871 yathrib - Qurtubah Dist.,Qurtubah,24.8246614242785,46.7445387638551,10100003101
1018,mosqu,6807 tarut - Qurtubah Dist.,Qurtubah,24.8161798615608,46.7235670175376,10100003101
1085,mosqu,2334 alsaleh - Qurtubah Dist.,Qurtubah,24.8130327542754,46.7351201574655,10100003101
1087,mosqu,7118 as sandal - Qurtubah Dist.,Qurtubah,24.8101731530574,46.7488218798808,10100003101
1109,mosqu,6553 Shadeeq - Qurtubah Dist.,Qurtubah,24.8050892796379,46.7423587146517,10100003101
1136,mosqu,7303 alrothiya - Qurtubah Dist.,Qurtubah,24.828353025223,46.7326232198597,10100003101
1144,mosqu,7452 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.8294891959944,46.7460409393997,10100003101
1157,mosqu,4230 muhra - Qurtubah Dist.,Qurtubah,24.8254165065711,46.747578763236,10100003101
1176,أحمد مسجد الراجحي,3195 ibrahim ibn hadi - Al Narjis Dist.,Al Narjis,24.8860845740148,46.6402199392944,10100003150
1178,موثق أبي بكر الصديق,2329 - Al Narjis Dist.,Al Narjis,24.85821178051,46.6481215068317,10100003150
1181,مسجد alghayth,6574 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8640542569051,46.6472006164177,10100003150
1183,مسجد aleiwad,7212 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8693211938415,46.644655782872,10100003150
1193,كوالا لalshshaykh محسن bamjly,7171 alqarshi - Al Narjis Dist.,Al Narjis,24.8526133538371,46.6505728495291,10100003150
1197,مسجد alnnarjus,6513 no. 387 - Al Narjis Dist.,Al Narjis,24.8387663823887,46.6787091860858,10100003150
1202,موثق عبدالرحمن النصير,6505 - Al Narjis Dist.,Al Narjis,24.9112948097884,46.6202491258658,10100003150
1211,مسجد limqaran,8185 ar rabi - Al Narjis Dist.,Al Narjis,24.8443946543595,46.6691949053046,10100003150
1315,مسجد الأمير سلطان بن فهد,7067 randah - Qurtubah Dist.,Qurtubah,24.8018317907509,46.7345152744538,10100003101
1393,زعيم مسجد الشيخ علي,2741 qasim bin mahna al hussaini - Al Narjis D...,Al Narjis,24.8840397544153,46.6357355049559,10100003150

In [142]:
d['title'][23]="مسجد عبدالله العقيل ووالديه"
d['title'][57]="مسجدأبوعبيده"
d['title'][58]="مسجدالدخيل"
d['title'][90]="مسجدالخير"
d['title'][227]="مسجدعيدالبدراني"
d['title'][330]="مسجد خالد بن الوليد"
d.loc[d['title'].str.contains('mosqu'), 'title'] = 'مسجد'
d.loc[d['title'].str.contains('Mosqu'), 'title'] = 'مسجد'
rslt_df.loc[rslt_df['title'].str.contains('mosqu'), 'title'] = 'مسجد'
rslt_df.loc[rslt_df['title'].str.contains('Mosqu'), 'title'] = 'مسجد'
d['title'][1176]="مسجد احمد الراجحي"
d['title'][1178]="مسجد ابي بكر الصديق"
d['title'][1181]="مسجد الغيث"
d['title'][1183]='مسجد محمد عبداللطيف العواد'
d['title'][1193]="مسجد الشيخ محسن باجملي"
d['title'][1197]="مسجد النرجس"
d['title'][1202]="مسجد عبدالرحمن النصير "
d['title'][1211]='مسجد صالح المقرن'
d['title'][1393]='مسجد الشيخ علي'

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [143]:
rslt_df.head(38)

,title,address,district,latitude,longitude,id
23,عبدالله alaqeel وأولياء الأمور مسجده,2993 muhammad al manofi - Al Narjis Dist.,Al Narjis,24.8795630491403,46.6379960436158,10100003150
57,أبو عبيدة مسق,3190 - Al Narjis Dist.,Al Narjis,24.8704137495003,46.6476757551231,10100003150
58,مسجد,3612 ushba - Al Shohda Dist.,Al Shohda,24.7950483043424,46.7381099261954,10100003016
90,أل خير قرطبة مسق,7372 al ashi bin khais - Qurtubah Dist.,Qurtubah,24.8049859016906,46.7214022668327,10100003101
227,عيد البدراني مسق,6699 abdul wahid al azji - Qurtubah Dist.,Qurtubah,24.8228598490869,46.7414371979035,10100003101
330,خالد بين أل وليد مسق,2841 al shawka valley - Qurtubah Dist.,Qurtubah,24.8106149839473,46.7402424231728,10100003101
368,مسجد,7188 muqbil uawida jabir al hajuri - Al Shohda...,Al Shohda,24.7867724199911,46.7386604779512,10100003016
369,مسجد,3285 abdullah ibn shayiq - Qurtubah Dist.,Qurtubah,24.8228414346772,46.7262922419588,10100003101
374,مسجد,7925 - Qurtubah Dist.,Qurtubah,24.817493029994,46.7468736245236,10100003101
376,مسجد,3469 al qarn al abyad - Al Shohda Dist.,Al Shohda,24.7852650314438,46.7367664269907,10100003016
377,مسجد,8053 nahawnd - Qurtubah Dist.,Qurtubah,24.8187548833818,46.7496725215073,10100003101
403,مسجد,7142 al shadida - Qurtubah Dist.,Qurtubah,24.8190842081503,46.7294029070323,10100003101
434,مسجد,3167 no. 31 - Al Shohda Dist.,Al Shohda,24.7912274848322,46.7339345669953,10100003016
438,مسجد,2701 hilwan - Qurtubah Dist.,Qurtubah,24.8060514430336,46.7387377917693,10100003101
441,مسجد,6811 himud ayid fahad al harbi - Al Shohda Dist.,Al Shohda,24.7835164845237,46.7338324325975,10100003016
553,مسجد,3701 al khereiss - Qurtubah Dist.,Qurtubah,24.8323260786354,46.7424283822143,10100003101
565,مسجد,2640 jabal al ibra - Qurtubah Dist.,Qurtubah,24.8298401362084,46.7318940260486,10100003101
805,مسجد,4323 no. 344 - Al Narjis Dist.,Al Narjis,24.839149162315,46.6742450436004,10100003150
905,مسجد,7269 al taref - Qurtubah Dist.,Qurtubah,24.8038877093397,46.719301009231,10100003101
911,مسجد,2545 as soyouti - Qurtubah Dist.,Qurtubah,24.8211339094079,46.7190753687277,10100003101
988,مسجد,6871 yathrib - Qurtubah Dist.,Qurtubah,24.8246614242785,46.7445387638551,10100003101
1018,مسجد,6807 tarut - Qurtubah Dist.,Qurtubah,24.8161798615608,46.7235670175376,10100003101
1085,مسجد,2334 alsaleh - Qurtubah Dist.,Qurtubah,24.8130327542754,46.7351201574655,10100003101
1087,مسجد,7118 as sandal - Qurtubah Dist.,Qurtubah,24.8101731530574,46.7488218798808,10100003101
1109,مسجد,6553 Shadeeq - Qurtubah Dist.,Qurtubah,24.8050892796379,46.7423587146517,10100003101
1136,مسجد,7303 alrothiya - Qurtubah Dist.,Qurtubah,24.828353025223,46.7326232198597,10100003101
1144,مسجد,7452 ashaikh hasan ibn hussain ibn ali rd - Qu...,Qurtubah,24.8294891959944,46.7460409393997,10100003101
1157,مسجد,4230 muhra - Qurtubah Dist.,Qurtubah,24.8254165065711,46.747578763236,10100003101
1176,أحمد مسجد الراجحي,3195 ibrahim ibn hadi - Al Narjis Dist.,Al Narjis,24.8860845740148,46.6402199392944,10100003150
1178,موثق أبي بكر الصديق,2329 - Al Narjis Dist.,Al Narjis,24.85821178051,46.6481215068317,10100003150
1181,مسجد alghayth,6574 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8640542569051,46.6472006164177,10100003150
1183,مسجد aleiwad,7212 khalid bin abi dajana al ansari - Al Narj...,Al Narjis,24.8693211938415,46.644655782872,10100003150
1193,كوالا لalshshaykh محسن bamjly,7171 alqarshi - Al Narjis Dist.,Al Narjis,24.8526133538371,46.6505728495291,10100003150
1197,مسجد alnnarjus,6513 no. 387 - Al Narjis Dist.,Al Narjis,24.8387663823887,46.6787091860858,10100003150
1202,موثق عبدالرحمن النصير,6505 - Al Narjis Dist.,Al Narjis,24.9112948097884,46.6202491258658,10100003150
1211,مسجد limqaran,8185 ar rabi - Al Narjis Dist.,Al Narjis,24.8443946543595,46.6691949053046,10100003150
1315,مسجد الأمير سلطان بن فهد,7067 randah - Qurtubah Dist.,Qurtubah,24.8018317907509,46.7345152744538,10100003101
1393,زعيم مسجد الشيخ علي,2741 qasim bin mahna al hussaini - Al Narjis D...,Al Narjis,24.8840397544153,46.6357355049559,10100003150

In [144]:
d.to_csv("mosques.csv")

## KPI Calculation

In [145]:
c=d.groupby(['id','district']).count()

In [146]:
c.head()

                              title  address  latitude  longitude
id          district
-1                                1        1         1          1
10100003002 Al Namudhajiyah       9        9         9          9
10100003003 Al Jarradiyah        13       13        13         13
10100003006 Al Fakhiriyah         4        4         4          4
10100003007 Al Dirah             19       19        19         19

In [147]:
c.drop(["address",'latitude','longitude'], axis = 1, inplace = True)

In [148]:
c

                                                              title
id                           district
-1                                                                1
10100003002                  Al Namudhajiyah                      9
10100003003                  Al Jarradiyah                       13
10100003006                  Al Fakhiriyah                        4
10100003007                  Al Dirah                            19
...                                                             ...
10100003163                  Oraid                                1
10100003164                  Badr                                29
10100003166                  King Saud University                 1
10100003167                  West Naseem                         24
PKAddressID': '1451532866181 Street': 'ahamad bin al khattab      1

[118 rows x 1 columns]

## Create JSON  Files

In [151]:
c.to_csv("mosqueKPI.csv")

In [152]:
c.to_json(R'C:\Users\jwoha\NationalAddressAPI\KPIs\MosqueKPIs.json', orient='records', lines=True)

In [8]:
with open(R'C:\Users\jwoha\NationalAddressAPI\POIs\MosquePOIs.json', 'w', encoding='utf-8') as file:
    d.to_json(file, force_ascii=False, orient='records' )