# National Address API Schools

### Import Libraries

In [1]:
import pandas as pd
import json
import csv
import time
import http.client, urllib.request, urllib.parse, urllib.error, base64
import googletrans 
from googletrans import Translator

### Data Requests

In [5]:


headers = {
    # Request headers
    'api_key': 'f028fce44cce47eb86a1c0de45600495',
}

params = urllib.parse.urlencode({
    # Request parameters
    'language': 'E',
    'format': 'json',
})

try:
    conn = http.client.HTTPSConnection('apina.address.gov.sa')
    conn.request("GET", "/NationalAddress/v3.1/lookup/service-categories?%s" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

####################################

b'{"Regions":null,"Cities":null,"Districts":null,"ZipCodes":null,"ServiceCategories":[{"Id":"101","Name":"Auto Services"},{"Id":"122","Name":"CivilDefense"},{"Id":"102","Name":"Commercial"},{"Id":"103","Name":"Cultural Sites"},{"Id":"104","Name":"Diplomatic"},{"Id":"105","Name":"Entertainment"},{"Id":"106","Name":"Financial Service"},{"Id":"107","Name":"Governmental"},{"Id":"108","Name":"Health"},{"Id":"109","Name":"Hotel"},{"Id":"110","Name":"Industrial"},{"Id":"111","Name":"Media Press"},{"Id":"112","Name":"Park / Green Area"},{"Id":"113","Name":"Pharmacy"},{"Id":"114","Name":"Post Service"},{"Id":"123","Name":"RedCrescent"},{"Id":"115","Name":"Religious"},{"Id":"116","Name":"Resort"},{"Id":"117","Name":"Restaurant"},{"Id":"118","Name":"School"},{"Id":"119","Name":"Security Services"},{"Id":"120","Name":"Social Affairs"},{"Id":"121","Name":"Travel"}],"ServiceSubCategories":null,"success":true,"result":null,"statusdescription":"SUCCESS","fullexception":null}'

In [6]:
df = pd.read_json (data)

In [7]:
df.head()

,Regions,Cities,Districts,ZipCodes,ServiceCategories,ServiceSubCategories,success,result,statusdescription,fullexception
0,NaN,NaN,NaN,NaN,"{'Id': '101', 'Name': 'Auto Services'}",NaN,True,NaN,SUCCESS,NaN
1,NaN,NaN,NaN,NaN,"{'Id': '122', 'Name': 'CivilDefense'}",NaN,True,NaN,SUCCESS,NaN
2,NaN,NaN,NaN,NaN,"{'Id': '102', 'Name': 'Commercial'}",NaN,True,NaN,SUCCESS,NaN
3,NaN,NaN,NaN,NaN,"{'Id': '103', 'Name': 'Cultural Sites'}",NaN,True,NaN,SUCCESS,NaN
4,NaN,NaN,NaN,NaN,"{'Id': '104', 'Name': 'Diplomatic'}",NaN,True,NaN,SUCCESS,NaN

In [8]:
df.drop(["Regions","Cities",'Districts','ZipCodes','success','result','statusdescription','statusdescription','fullexception','ServiceSubCategories'], axis = 1, inplace = True)

In [9]:
df.head()

                         ServiceCategories
0   {'Id': '101', 'Name': 'Auto Services'}
1    {'Id': '122', 'Name': 'CivilDefense'}
2      {'Id': '102', 'Name': 'Commercial'}
3  {'Id': '103', 'Name': 'Cultural Sites'}
4      {'Id': '104', 'Name': 'Diplomatic'}

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 1 columns):
ServiceCategories    23 non-null object
dtypes: object(1)
memory usage: 156.0+ bytes

In [11]:
df['ServiceCategories'] = df['ServiceCategories'].astype(str)

In [12]:
df['ServiceCategories']=df.ServiceCategories.str.strip('{\'Id\':')

In [13]:
df['ServiceCategories']=df.ServiceCategories.str.strip('}')

In [14]:
df.head()

                  ServiceCategories
0    '101', 'Name': 'Auto Services'
1     '122', 'Name': 'CivilDefense'
2       '102', 'Name': 'Commercial'
3   '103', 'Name': 'Cultural Sites'
4       '104', 'Name': 'Diplomatic'

In [15]:
df=df.ServiceCategories.str.split(',', expand = True)

In [16]:
df.head()

        0                          1
0   '101'    'Name': 'Auto Services'
1   '122'     'Name': 'CivilDefense'
2   '102'       'Name': 'Commercial'
3   '103'   'Name': 'Cultural Sites'
4   '104'       'Name': 'Diplomatic'

In [17]:
 df.columns = ['id', 'name']

In [18]:
df

        id                          name
0    '101'       'Name': 'Auto Services'
1    '122'        'Name': 'CivilDefense'
2    '102'          'Name': 'Commercial'
3    '103'      'Name': 'Cultural Sites'
4    '104'          'Name': 'Diplomatic'
5    '105'       'Name': 'Entertainment'
6    '106'   'Name': 'Financial Service'
7    '107'        'Name': 'Governmental'
8    '108'              'Name': 'Health'
9    '109'               'Name': 'Hotel'
10   '110'          'Name': 'Industrial'
11   '111'         'Name': 'Media Press'
12   '112'   'Name': 'Park / Green Area'
13   '113'            'Name': 'Pharmacy'
14   '114'        'Name': 'Post Service'
15   '123'         'Name': 'RedCrescent'
16   '115'           'Name': 'Religious'
17   '116'              'Name': 'Resort'
18   '117'          'Name': 'Restaurant'
19   '118'              'Name': 'School'
20   '119'   'Name': 'Security Services'
21   '120'      'Name': 'Social Affairs'
22   '121'              'Name': 'Travel'

In [19]:
df['name']=df.name.str.strip('\'Name\': ')

In [20]:
df

        id               name
0    '101'      Auto Services
1    '122'        CivilDefens
2    '102'         Commercial
3    '103'     Cultural Sites
4    '104'         Diplomatic
5    '105'      Entertainment
6    '106'   Financial Servic
7    '107'       Governmental
8    '108'             Health
9    '109'              Hotel
10   '110'         Industrial
11   '111'        Media Press
12   '112'    Park / Green Ar
13   '113'           Pharmacy
14   '114'        Post Servic
15   '123'        RedCrescent
16   '115'          Religious
17   '116'             Resort
18   '117'         Restaurant
19   '118'             School
20   '119'  Security Services
21   '120'     Social Affairs
22   '121'             Travel

In [181]:
astrings2 = list()


try:
    conn = http.client.HTTPSConnection('apina.address.gov.sa')
    for page_num in range(1, 20):
                    conn.request("GET", "https://apina.address.gov.sa/NationalAddress/v3.1/address/poi-fixed-params?language=E&format=JSON&ServiceString=School&cityname=riyadh&api_key=e5f9ea9216e446be97227cf99e679618&page=" + str(page_num))
                    response = conn.getresponse()
                    data= response.read()
                    decode=data.decode('utf-8', 'ignore')
                    astrings2.append(decode)
                    time.sleep(5)
                    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

In [182]:
print(len(astrings2))

19

### Create Dataframe

In [808]:
df=pd.Series(astrings2).to_frame()

In [809]:
df.head(50)

                                                    0
0   {"totalSearchResults":"188","Addresses":[{"Tit...
1   {"totalSearchResults":"188","Addresses":[{"Tit...
2   {"totalSearchResults":"188","Addresses":[{"Tit...
3   {"totalSearchResults":"188","Addresses":[{"Tit...
4   {"totalSearchResults":"188","Addresses":[{"Tit...
5   {"totalSearchResults":"188","Addresses":[{"Tit...
6   {"totalSearchResults":"188","Addresses":[{"Tit...
7   {"totalSearchResults":"188","Addresses":[{"Tit...
8   {"totalSearchResults":"188","Addresses":[{"Tit...
9   {"totalSearchResults":"188","Addresses":[{"Tit...
10  {"totalSearchResults":"188","Addresses":[{"Tit...
11  {"totalSearchResults":"188","Addresses":[{"Tit...
12  {"totalSearchResults":"188","Addresses":[{"Tit...
13  {"totalSearchResults":"188","Addresses":[{"Tit...
14  {"totalSearchResults":"188","Addresses":[{"Tit...
15  {"totalSearchResults":"188","Addresses":[{"Tit...
16  {"totalSearchResults":"188","Addresses":[{"Tit...
17  {"totalSearchResults":"188","Addresses":[{"Tit...
18  {"totalSearchResults":"188","Addresses":[{"Tit...

In [1191]:
x=0 
for index, row in df.iterrows():
    if x==0:
              y=df[0][index]
              result=pd.read_json (y)
    else:
                y=df[0][index]
                result=result.append(pd.read_json (y))
    x=x+1

In [1192]:
result.head(50)

,totalSearchResults,Addresses,PostCode,success,result,statusdescription,fullexception
0,188,"{'Title': '192 middle school girls', 'Address1...",NaN,True,NaN,SUCCESS,NaN
1,188,"{'Title': '331 girls' primary school', 'Addres...",NaN,True,NaN,SUCCESS,NaN
2,188,"{'Title': '100 intermediate school girls', 'Ad...",NaN,True,NaN,SUCCESS,NaN
3,188,"{'Title': '21 primary school', 'Address1': '70...",NaN,True,NaN,SUCCESS,NaN
4,188,"{'Title': '354 elementary school girls', 'Addr...",NaN,True,NaN,SUCCESS,NaN
5,188,"{'Title': '190 intermediate school girls', 'Ad...",NaN,True,NaN,SUCCESS,NaN
6,188,{'Title': '273 elementary school girl section...,NaN,True,NaN,SUCCESS,NaN
7,188,"{'Title': '164 middle school girls alyermuk', ...",NaN,True,NaN,SUCCESS,NaN
8,188,"{'Title': '229 primary school girls', 'Address...",NaN,True,NaN,SUCCESS,NaN
9,188,"{'Title': '370 primary school girls', 'Addres...",NaN,True,NaN,SUCCESS,NaN
0,188,"{'Title': '91 school girls', 'Address1': '3619...",NaN,True,NaN,SUCCESS,NaN
1,188,{'Title': 'abe muhjin althagafi primary school...,NaN,True,NaN,SUCCESS,NaN
2,188,"{'Title': 'adwaa al hedaya schools', 'Address1...",NaN,True,NaN,SUCCESS,NaN
3,188,"{'Title': 'abdulaziz ibn baz high school', 'Ad...",NaN,True,NaN,SUCCESS,NaN
4,188,{'Title': 'abi amr al basri schools for the me...,NaN,True,NaN,SUCCESS,NaN
5,188,"{'Title': '60 high school for girls', 'Address...",NaN,True,NaN,SUCCESS,NaN
6,188,{'Title': 'abdulrahman nasser intermediate sch...,NaN,True,NaN,SUCCESS,NaN
7,188,"{'Title': 'advanced private schools', 'Address...",NaN,True,NaN,SUCCESS,NaN
8,188,"{'Title': 'abdullah khayat primary school', 'A...",NaN,True,NaN,SUCCESS,NaN
9,188,"{'Title': 'abu basir primary school - benin', ...",NaN,True,NaN,SUCCESS,NaN
0,188,"{'Title': 'adwaa alriyadh schools', 'Address1'...",NaN,True,NaN,SUCCESS,NaN
1,188,"{'Title': 'al ma'ali school', 'Address1': '667...",NaN,True,NaN,SUCCESS,NaN
2,188,"{'Title': 'al naseem international school', 'A...",NaN,True,NaN,SUCCESS,NaN
3,188,"{'Title': 'ajyal althoraya schools', 'Address1...",NaN,True,NaN,SUCCESS,NaN
4,188,"{'Title': 'al malqa primary school', 'Address1...",NaN,True,NaN,SUCCESS,NaN
5,188,"{'Title': 'al raeed school', 'Address1': '3286...",NaN,True,NaN,SUCCESS,NaN
6,188,"{'Title': 'al faruq secondary school ', 'Addre...",NaN,True,NaN,SUCCESS,NaN
7,188,"{'Title': 'al mathani females school', 'Addres...",NaN,True,NaN,SUCCESS,NaN
8,188,"{'Title': 'al baiariq private schools girls ',...",NaN,True,NaN,SUCCESS,NaN
9,188,"{'Title': 'al manar school', 'Address1': '3131...",NaN,True,NaN,SUCCESS,NaN
0,188,"{'Title': 'alaptikariyah school ', 'Address1':...",NaN,True,NaN,SUCCESS,NaN
1,188,"{'Title': 'alfath school', 'Address1': '8043 t...",NaN,True,NaN,SUCCESS,NaN
2,188,"{'Title': 'alamjad national school for girls',...",NaN,True,NaN,SUCCESS,NaN
3,188,"{'Title': 'aldiwan private schools', 'Address1...",NaN,True,NaN,SUCCESS,NaN
4,188,"{'Title': 'al tarbiyah private school ', 'Addr...",NaN,True,NaN,SUCCESS,NaN
5,188,{'Title': 'alarqam national schools in riyadh'...,NaN,True,NaN,SUCCESS,NaN
6,188,{'Title': 'alforsan international school for g...,NaN,True,NaN,SUCCESS,NaN
7,188,{'Title': 'al yasmin indian international scho...,NaN,True,NaN,SUCCESS,NaN
8,188,"{'Title': 'albaiareq school', 'Address1': '539...",NaN,True,NaN,SUCCESS,NaN
9,188,"{'Title': 'alhussan international school', 'Ad...",NaN,True,NaN,SUCCESS,NaN
0,188,"{'Title': 'aljodah national schools', 'Address...",NaN,True,NaN,SUCCESS,NaN
1,188,"{'Title': 'almwred private schools', 'Address1...",NaN,True,NaN,SUCCESS,NaN
2,188,"{'Title': 'alsadara schools', 'Address1': '709...",NaN,True,NaN,SUCCESS,NaN
3,188,"{'Title': 'almnar private schools for girls', ...",NaN,True,NaN,SUCCESS,NaN
4,188,"{'Title': 'alquds secondary school', 'Address1...",NaN,True,NaN,SUCCESS,NaN
5,188,"{'Title': 'al-masoudi intermediate school ', '...",NaN,True,NaN,SUCCESS,NaN
6,188,"{'Title': 'alofoq school', 'Address1': '4295 s...",NaN,True,NaN,SUCCESS,NaN
7,188,"{'Title': 'alkhnsaaa school', 'Address1': '769...",NaN,True,NaN,SUCCESS,NaN
8,188,{'Title': 'alnnumuww al'ahlia school seconda...,NaN,True,NaN,SUCCESS,NaN
9,188,{'Title': 'al-trbyh al-namothajyah kindergarte...,NaN,True,NaN,SUCCESS,NaN

In [1193]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 7
Data columns (total 7 columns):
totalSearchResults    188 non-null int64
Addresses             188 non-null object
PostCode              0 non-null float64
success               188 non-null bool
result                0 non-null float64
statusdescription     188 non-null object
fullexception         0 non-null float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 9.0+ KB

### Data Cleaning

In [1194]:
result.drop(["PostCode","success",'result','statusdescription','success','fullexception'], axis = 1, inplace = True)

In [1195]:
result.head()

   totalSearchResults                                          Addresses
0                 188  {'Title': '192 middle school girls', 'Address1...
1                 188  {'Title': '331 girls' primary school', 'Addres...
2                 188  {'Title': '100 intermediate school girls', 'Ad...
3                 188  {'Title': '21 primary school', 'Address1': '70...
4                 188  {'Title': '354 elementary school girls', 'Addr...

In [1196]:
result['Addresses'] = result['Addresses'].astype(str)
d=result.Addresses.str.split(',', expand = True)

In [1197]:
d.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,{'Title': '192 middle school girls','Address1': '6786 talal abdulrahman muhammad ...,'Address2': 'RIYADH 13241 - 3638','ObjLatLng': '13241044515 46.7383892193967 24...,'BuildingNumber': '6786','Street': 'talal abdulrahman muhammad al mani','District': 'Al Shohda Dist.','City': 'RIYADH','PostCode': '13241','AdditionalNumber': '3638',...,'Title_L2': ' 192 ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
1,"{'Title': ""331 girls' primary school""",'Address1': '3908 al bandaria - Al Hamra Dist.','Address2': 'RIYADH 13216 - 7464','ObjLatLng': '13216044528 46.749396429533 24....,'BuildingNumber': '3908','Street': 'al bandaria','District': 'Al Hamra Dist.','City': 'RIYADH','PostCode': '13216','AdditionalNumber': '7464',...,'Title_L2': ' 331 ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
2,{'Title': '100 intermediate school girls','Address1': '3754 ahmad ibn aqil - King Faisa...,'Address2': 'RIYADH 13215 - 6293','ObjLatLng': '13215042493 46.7763934475282 24...,'BuildingNumber': '3754','Street': 'ahmad ibn aqil','District': 'King Faisal Dist.','City': 'RIYADH','PostCode': '13215','AdditionalNumber': '6293',...,'Title_L2': ' 100 ','RegionName_L2': ' ','City_L2': '','Street_L2': ' ','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
3,{'Title': '21 primary school','Address1': '7088 an nabaqin - Al Yarmuk Dist.','Address2': 'RIYADH 13251 - 3156','ObjLatLng': '13251043707 46.7873121296599 24...,'BuildingNumber': '7088','Street': 'an nabaqin','District': 'Al Yarmuk Dist.','City': 'RIYADH','PostCode': '13251','AdditionalNumber': '3156',...,'Title_L2': ' 21 ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None
4,{'Title': '354 elementary school girls','Address1': '6757 ad duah - Al Shohda Dist.','Address2': 'RIYADH 13241 - 3578','ObjLatLng': '13241044517 46.7377467649251 24...,'BuildingNumber': '6757','Street': 'ad duah','District': 'Al Shohda Dist.','City': 'RIYADH','PostCode': '13241','AdditionalNumber': '3578',...,'Title_L2': ' 354 ','RegionName_L2': ' ','City_L2': '','Street_L2': '','District_L2': ' ','CompanyName_L2': None,'GovernorateID': None,'Governorate': None,'Governorate_L2': None},None

In [1198]:
d.drop([2,3,19,4,5,7,8,9,10,11,12,13,17,18,16,21,22,23,24,25,26,27,28,29,30], axis = 1, inplace = True)

In [1199]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 7
Data columns (total 6 columns):
0     188 non-null object
1     188 non-null object
6     188 non-null object
14    188 non-null object
15    188 non-null object
20    188 non-null object
dtypes: object(6)
memory usage: 5.9+ KB

In [1200]:
d.head()

,0,1,6,14,15,20
0,{'Title': '192 middle school girls','Address1': '6786 talal abdulrahman muhammad ...,'District': 'Al Shohda Dist.','Latitude': '24.7831865722552','Longitude': '46.7383892193967','DistrictID': '10100003016'
1,"{'Title': ""331 girls' primary school""",'Address1': '3908 al bandaria - Al Hamra Dist.','District': 'Al Hamra Dist.','Latitude': '24.7729674891762','Longitude': '46.749396429533','DistrictID': '10100003129'
2,{'Title': '100 intermediate school girls','Address1': '3754 ahmad ibn aqil - King Faisa...,'District': 'King Faisal Dist.','Latitude': '24.7496170662318','Longitude': '46.7763934475282','DistrictID': '10100003027'
3,{'Title': '21 primary school','Address1': '7088 an nabaqin - Al Yarmuk Dist.','District': 'Al Yarmuk Dist.','Latitude': '24.8085710335466','Longitude': '46.7873121296599','DistrictID': '10100003139'
4,{'Title': '354 elementary school girls','Address1': '6757 ad duah - Al Shohda Dist.','District': 'Al Shohda Dist.','Latitude': '24.7829402980412','Longitude': '46.7377467649251','DistrictID': '10100003016'

In [1201]:
d.columns = ["title","address","district","latitude","longitude","id"]

In [1202]:
d.head()

,title,address,district,latitude,longitude,id
0,{'Title': '192 middle school girls','Address1': '6786 talal abdulrahman muhammad ...,'District': 'Al Shohda Dist.','Latitude': '24.7831865722552','Longitude': '46.7383892193967','DistrictID': '10100003016'
1,"{'Title': ""331 girls' primary school""",'Address1': '3908 al bandaria - Al Hamra Dist.','District': 'Al Hamra Dist.','Latitude': '24.7729674891762','Longitude': '46.749396429533','DistrictID': '10100003129'
2,{'Title': '100 intermediate school girls','Address1': '3754 ahmad ibn aqil - King Faisa...,'District': 'King Faisal Dist.','Latitude': '24.7496170662318','Longitude': '46.7763934475282','DistrictID': '10100003027'
3,{'Title': '21 primary school','Address1': '7088 an nabaqin - Al Yarmuk Dist.','District': 'Al Yarmuk Dist.','Latitude': '24.8085710335466','Longitude': '46.7873121296599','DistrictID': '10100003139'
4,{'Title': '354 elementary school girls','Address1': '6757 ad duah - Al Shohda Dist.','District': 'Al Shohda Dist.','Latitude': '24.7829402980412','Longitude': '46.7377467649251','DistrictID': '10100003016'

In [1203]:
d['title']=d.title.str.strip('{\'Title\': \'')

In [1204]:
d['title']=d.title.str.strip('"')

In [1205]:
d['title']=d.title.str.strip('\'')

In [1206]:
d['address']=d.address.str.strip('\'Address1\': \'')

In [1207]:
d['district']=d.district.str.strip('\'District\': \'')

In [1208]:
d['latitude']=d.latitude.str.strip('\'Latitude\': \'')

In [1209]:
d['district']=d.district.str.strip('Dist.')

In [1210]:
d['longitude']=d.longitude.str.strip('\'Longitude\': \'')

In [1211]:
d['id']=d.id.str.strip('\'DistrictID\': \'')

In [1212]:
d.head(20)

,title,address,district,latitude,longitude,id
0,192 middle school girls,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016
1,331 girls' primary school,3908 al bandaria - Al Hamra Dist.,Al Hamra,24.7729674891762,46.749396429533,10100003129
2,100 intermediate school girls,3754 ahmad ibn aqil - King Faisal Dist.,King Faisal,24.7496170662318,46.7763934475282,10100003027
3,21 primary schoo,7088 an nabaqin - Al Yarmuk Dist.,Al Yarmuk,24.8085710335466,46.7873121296599,10100003139
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016
5,190 intermediate school girls,6612 as sabihiyyah - Ishbiliyah Dist.,Ishbiliyah,24.7817738497527,46.7884428783457,10100003137
6,273 elementary school girl section,2568 safaqis - Ghirnatah Dist.,Ghirnatah,24.7955331523553,46.745738035145,10100003155
7,164 middle school girls alyermuk,3884 an nuwibah - Al Yarmuk Dist.,Al Yarmuk,24.8071787315967,46.7945255450144,10100003139
8,229 primary school girls,7820 amr ash shaybani - Al Quds Dist.,Al Quds,24.7566027411829,46.7466565776051,10100003081
9,370 primary school girls,4270 sulayman ibn mahmud - Ishbiliyah Dist.,Ishbiliyah,24.7812827290009,46.7885551889053,10100003137
0,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016
1,abe muhjin althagafi primary schoo,4357 al marikha - Al Manar Dist.,Al Manar,24.7268568515612,46.8066228975518,10100003079
2,adwaa al hedaya schools,2866 Al Ghat - Al Taawun Dist.,Al Taawun,24.7783017358029,46.6949768879782,10100003085
3,abdulaziz ibn baz high schoo,7594 raghbah - Al Woroud Dist.,Al Woroud,24.7280629920518,46.6780944484184,10100003026
4,abi amr al basri schools for the memorization ...,3820 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6920437372924,46.7630270642956,10100003047
5,60 high school for girls,2904 sayfi al ansari - West Naseem Dist.,West Naseem,24.7325171326152,46.8126526271334,10100003167
6,abdulrahman nasser intermediate school benin,4269 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7171933250381,46.8172986741511,10100003167
7,advanced private schools,7191 al bahar al mutawassit - Al Aqeeq Dist.,Al Aqeeq,24.780346838457,46.6288042189863,10100003107
8,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101
9,abu basir primary school - benin,2607 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7196804288939,46.8211826727134,10100003167

In [1213]:
d["gender"] = ""

In [1214]:
d.loc[d['title'].str.contains('private'), 'gender'] = ''
d.loc[d['title'].str.contains('international'), 'gender'] = ''
d.loc[d['title'].str.contains('girls'), 'gender'] = ''
d.loc[d['title'].str.contains('girl'), 'gender'] = ''
d.loc[d['title'].str.contains('females'), 'gender'] = ''
d.loc[d['title'].str.contains(r'[1-9]'), 'gender'] = ''
d.loc[d['title'].str.contains('boy'), 'gender'] = ''
d.loc[d['title'].str.contains('boys'), 'gender'] = ''
d.loc[d['title'].str.contains('benin'), 'gender'] = ''
d.loc[d['title'].str.contains('ibn'), 'gender'] = ''
d.loc[d['title'].str.contains('abi'), 'gender'] = ''
d.loc[d['title'].str.contains('abu'), 'gender'] = ''
d.loc[d['title'].str.contains('abe'), 'gender'] = ''
d.loc[d['title'].str.contains('bin'), 'gender'] = ''
d.loc[d['title'].str.contains('bent'), 'gender'] = ''

In [1215]:
d.head(50)

,title,address,district,latitude,longitude,id,gender
0,192 middle school girls,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016,
1,331 girls' primary school,3908 al bandaria - Al Hamra Dist.,Al Hamra,24.7729674891762,46.749396429533,10100003129,
2,100 intermediate school girls,3754 ahmad ibn aqil - King Faisal Dist.,King Faisal,24.7496170662318,46.7763934475282,10100003027,
3,21 primary schoo,7088 an nabaqin - Al Yarmuk Dist.,Al Yarmuk,24.8085710335466,46.7873121296599,10100003139,
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016,
5,190 intermediate school girls,6612 as sabihiyyah - Ishbiliyah Dist.,Ishbiliyah,24.7817738497527,46.7884428783457,10100003137,
6,273 elementary school girl section,2568 safaqis - Ghirnatah Dist.,Ghirnatah,24.7955331523553,46.745738035145,10100003155,
7,164 middle school girls alyermuk,3884 an nuwibah - Al Yarmuk Dist.,Al Yarmuk,24.8071787315967,46.7945255450144,10100003139,
8,229 primary school girls,7820 amr ash shaybani - Al Quds Dist.,Al Quds,24.7566027411829,46.7466565776051,10100003081,
9,370 primary school girls,4270 sulayman ibn mahmud - Ishbiliyah Dist.,Ishbiliyah,24.7812827290009,46.7885551889053,10100003137,
0,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016,
1,abe muhjin althagafi primary schoo,4357 al marikha - Al Manar Dist.,Al Manar,24.7268568515612,46.8066228975518,10100003079,
2,adwaa al hedaya schools,2866 Al Ghat - Al Taawun Dist.,Al Taawun,24.7783017358029,46.6949768879782,10100003085,
3,abdulaziz ibn baz high schoo,7594 raghbah - Al Woroud Dist.,Al Woroud,24.7280629920518,46.6780944484184,10100003026,
4,abi amr al basri schools for the memorization ...,3820 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6920437372924,46.7630270642956,10100003047,
5,60 high school for girls,2904 sayfi al ansari - West Naseem Dist.,West Naseem,24.7325171326152,46.8126526271334,10100003167,
6,abdulrahman nasser intermediate school benin,4269 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7171933250381,46.8172986741511,10100003167,
7,advanced private schools,7191 al bahar al mutawassit - Al Aqeeq Dist.,Al Aqeeq,24.780346838457,46.6288042189863,10100003107,
8,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101,
9,abu basir primary school - benin,2607 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7196804288939,46.8211826727134,10100003167,
0,adwaa alriyadh schools,6485 al kawakib - Al Qadisiyah Dist.,Al Qadisiyah,24.8109154573286,46.8093903401189,10100003073,
1,al ma'ali school,6674 al amir jalawi ibn turki ibn abdullah - A...,Al Muruj,24.7520527395974,46.6646523481082,10100003110,
2,al naseem international schoo,7823 Osamah Bin Zayd - West Naseem Dist.,West Naseem,24.7194484393776,46.8320071422273,10100003167,
3,ajyal althoraya schools,7280 ibn rashiq - King Faisal Dist.,King Faisal,24.7584544473091,46.777434690764,10100003027,
4,al malqa primary schoo,3491 no. 556 - Al Malqa Dist.,Al Malqa,24.8191650607434,46.6109105322662,10100003145,
5,al raeed schoo,3286 ask shaikh abdullah al makhdub - Al Wadi ...,Al Wadi,24.790548250144,46.6907368986812,10100003082,
6,al faruq secondary schoo,2839 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6904233411942,46.7631299367038,10100003047,
7,al mathani females schoo,7222 Al Abbas Bin Jareer - Al Saadah Dist.,Al Saadah,24.6885724542324,46.826817814865,10100003036,
8,al baiariq private schools girls,5307 jalawi ibn abdul muhsin - Al Rawabi Dist.,Al Rawabi,24.6924391102161,46.8061800583671,10100003089,
9,al manar schoo,3131 northern ring branch rd - Al Maseef Dist.,Al Maseef,24.7741323045981,46.6803212766264,10100003084,
0,alaptikariyah schoo,3994 qalat al fustat - Ishbiliyah Dist.,Ishbiliyah,24.7967780828303,46.8039447545254,10100003137,
1,alfath schoo,8043 tumair - Al Muruj Dist.,Al Muruj,24.764246642338,46.6621353054351,10100003110,
2,alamjad national school for girls,3731 - Al Hamra Dist.,Al Hamra,24.7780815655718,46.7477299403085,10100003129,
3,aldiwan private schools,4196 al amir saud ibn abdul aziz al saud al ka...,Al Quds,24.7614233104353,46.7606291062844,10100003081,
4,al tarbiyah private schoo,7176 Abdulrahman Al Rafie - Al Nakheel Dist.,Al Nakheel,24.7455758430004,46.6522760202567,10100003108,
5,alarqam national schools in riyadh,4134 umar ibn hirah - Al Hamra Dist.,Al Hamra,24.7707605390933,46.7517758905388,10100003129,
6,alforsan international school for girls,3332 ibn mashal - Al Ezdihar Dist.,Al Ezdihar,24.7771167361533,46.717364988362,10100003086,
7,al yasmin indian international schoo,3749 as saharawi - Al Malaz Dist.,Al Malaz,24.6660308584666,46.7437543000625,10100003051,
8,albaiareq schoo,5394 prince saad ibn abdulrahman al awal rd - ...,Al Rawabi,24.6927246455368,46.8067511290086,10100003089,
9,alhussan international schoo,7349 rumman - Qurtubah Dist.,Qurtubah,24.8046631114017,46.734610214948,10100003101,
0,aljodah national schools,3074 al laymun - Al Mughrazat Dist.,Al Mughrazat,24.7656820380013,46.7231728164427,10100003105,
1,almwred private schools,2714 ash shaikh abdul aziz ibn abdul rahman ib...,Al Khaleej,24.7732374480003,46.7835473140003,10100003055,
2,alsadara schools,7098 no. 107 - Al Narjis Dist.,Al Narjis,24.8192111818279,46.6853692813301,10100003150,
3,almnar private schools for girls,3197 al mulaysan - Al Yarmuk Dist.,Al Yarmuk,24.803990422394,46.7876110494487,10100003139,
4,alquds secondary schoo,2432 marakish - Al Quds Dist.,Al Quds,24.7570548387739,46.7431373547774,10100003081,
5,al-masoudi intermediate schoo,2855 al bayda - Al Rabwah Dist.,Al Rabwah,24.6824181223503,46.7628246552919,10100003047,
6,alofoq schoo,4295 satam ghazay al mutairi - Al Shohda Dist.,Al Shohda,24.7845547998355,46.7447565383048,10100003016,
7,alkhnsaaa schoo,7697 ibrahim az zawawi - Hitteen Dist.,Hitteen,24.7636032824121,46.6173079219652,10100003144,
8,alnnumuww al'ahlia school secondary,7716 - Al Arid Dist.,Al Arid,24.865968693267,46.6412834521039,10100003148,
9,al-trbyh al-namothajyah kindergarten schoo,3565 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.7104164161515,46.7771362904316,10100003090,

In [1216]:
d["type"] = " "

In [1217]:
d.loc[d['title'].str.contains('primary'), 'type'] = ''
d.loc[d['title'].str.contains('middle'), 'type'] = ''
d.loc[d['title'].str.contains('elementary'), 'type'] = ''
d.loc[d['title'].str.contains('secondary'), 'type'] = ''
d.loc[d['title'].str.contains('intermediate'), 'type'] = ''
d.loc[d['title'].str.contains('high'), 'type'] = ''
d.loc[d['title'].str.contains('kindergarten'), 'type'] = ''

In [1218]:
#d["kind"] = ''

In [1219]:
#d.loc[d['title'].str.contains(r'[0-9]'), 'kind'] = ''
#d.loc[d['title'].str.contains('ibn'), 'kind'] = ''
#d.loc[d['title'].str.contains('abi'), 'kind'] = ''
#d.loc[d['title'].str.contains('abu'), 'kind'] = ''
#d.loc[d['title'].str.contains('abe'), 'kind'] = ''
#d.loc[d['title'].str.contains('bent'), 'kind'] = ''

In [1220]:
d.index = range(188)

### Manual Cleaning

In [1221]:
d.head(60)

,title,address,district,latitude,longitude,id,gender,type
0,192 middle school girls,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016,,
1,331 girls' primary school,3908 al bandaria - Al Hamra Dist.,Al Hamra,24.7729674891762,46.749396429533,10100003129,,
2,100 intermediate school girls,3754 ahmad ibn aqil - King Faisal Dist.,King Faisal,24.7496170662318,46.7763934475282,10100003027,,
3,21 primary schoo,7088 an nabaqin - Al Yarmuk Dist.,Al Yarmuk,24.8085710335466,46.7873121296599,10100003139,,
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016,,
5,190 intermediate school girls,6612 as sabihiyyah - Ishbiliyah Dist.,Ishbiliyah,24.7817738497527,46.7884428783457,10100003137,,
6,273 elementary school girl section,2568 safaqis - Ghirnatah Dist.,Ghirnatah,24.7955331523553,46.745738035145,10100003155,,
7,164 middle school girls alyermuk,3884 an nuwibah - Al Yarmuk Dist.,Al Yarmuk,24.8071787315967,46.7945255450144,10100003139,,
8,229 primary school girls,7820 amr ash shaybani - Al Quds Dist.,Al Quds,24.7566027411829,46.7466565776051,10100003081,,
9,370 primary school girls,4270 sulayman ibn mahmud - Ishbiliyah Dist.,Ishbiliyah,24.7812827290009,46.7885551889053,10100003137,,
10,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016,,
11,abe muhjin althagafi primary schoo,4357 al marikha - Al Manar Dist.,Al Manar,24.7268568515612,46.8066228975518,10100003079,,
12,adwaa al hedaya schools,2866 Al Ghat - Al Taawun Dist.,Al Taawun,24.7783017358029,46.6949768879782,10100003085,,
13,abdulaziz ibn baz high schoo,7594 raghbah - Al Woroud Dist.,Al Woroud,24.7280629920518,46.6780944484184,10100003026,,
14,abi amr al basri schools for the memorization ...,3820 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6920437372924,46.7630270642956,10100003047,,
15,60 high school for girls,2904 sayfi al ansari - West Naseem Dist.,West Naseem,24.7325171326152,46.8126526271334,10100003167,,
16,abdulrahman nasser intermediate school benin,4269 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7171933250381,46.8172986741511,10100003167,,
17,advanced private schools,7191 al bahar al mutawassit - Al Aqeeq Dist.,Al Aqeeq,24.780346838457,46.6288042189863,10100003107,,
18,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101,,
19,abu basir primary school - benin,2607 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7196804288939,46.8211826727134,10100003167,,
20,adwaa alriyadh schools,6485 al kawakib - Al Qadisiyah Dist.,Al Qadisiyah,24.8109154573286,46.8093903401189,10100003073,,
21,al ma'ali school,6674 al amir jalawi ibn turki ibn abdullah - A...,Al Muruj,24.7520527395974,46.6646523481082,10100003110,,
22,al naseem international schoo,7823 Osamah Bin Zayd - West Naseem Dist.,West Naseem,24.7194484393776,46.8320071422273,10100003167,,
23,ajyal althoraya schools,7280 ibn rashiq - King Faisal Dist.,King Faisal,24.7584544473091,46.777434690764,10100003027,,
24,al malqa primary schoo,3491 no. 556 - Al Malqa Dist.,Al Malqa,24.8191650607434,46.6109105322662,10100003145,,
25,al raeed schoo,3286 ask shaikh abdullah al makhdub - Al Wadi ...,Al Wadi,24.790548250144,46.6907368986812,10100003082,,
26,al faruq secondary schoo,2839 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6904233411942,46.7631299367038,10100003047,,
27,al mathani females schoo,7222 Al Abbas Bin Jareer - Al Saadah Dist.,Al Saadah,24.6885724542324,46.826817814865,10100003036,,
28,al baiariq private schools girls,5307 jalawi ibn abdul muhsin - Al Rawabi Dist.,Al Rawabi,24.6924391102161,46.8061800583671,10100003089,,
29,al manar schoo,3131 northern ring branch rd - Al Maseef Dist.,Al Maseef,24.7741323045981,46.6803212766264,10100003084,,
30,alaptikariyah schoo,3994 qalat al fustat - Ishbiliyah Dist.,Ishbiliyah,24.7967780828303,46.8039447545254,10100003137,,
31,alfath schoo,8043 tumair - Al Muruj Dist.,Al Muruj,24.764246642338,46.6621353054351,10100003110,,
32,alamjad national school for girls,3731 - Al Hamra Dist.,Al Hamra,24.7780815655718,46.7477299403085,10100003129,,
33,aldiwan private schools,4196 al amir saud ibn abdul aziz al saud al ka...,Al Quds,24.7614233104353,46.7606291062844,10100003081,,
34,al tarbiyah private schoo,7176 Abdulrahman Al Rafie - Al Nakheel Dist.,Al Nakheel,24.7455758430004,46.6522760202567,10100003108,,
35,alarqam national schools in riyadh,4134 umar ibn hirah - Al Hamra Dist.,Al Hamra,24.7707605390933,46.7517758905388,10100003129,,
36,alforsan international school for girls,3332 ibn mashal - Al Ezdihar Dist.,Al Ezdihar,24.7771167361533,46.717364988362,10100003086,,
37,al yasmin indian international schoo,3749 as saharawi - Al Malaz Dist.,Al Malaz,24.6660308584666,46.7437543000625,10100003051,,
38,albaiareq schoo,5394 prince saad ibn abdulrahman al awal rd - ...,Al Rawabi,24.6927246455368,46.8067511290086,10100003089,,
39,alhussan international schoo,7349 rumman - Qurtubah Dist.,Qurtubah,24.8046631114017,46.734610214948,10100003101,,
40,aljodah national schools,3074 al laymun - Al Mughrazat Dist.,Al Mughrazat,24.7656820380013,46.7231728164427,10100003105,,
41,almwred private schools,2714 ash shaikh abdul aziz ibn abdul rahman ib...,Al Khaleej,24.7732374480003,46.7835473140003,10100003055,,
42,alsadara schools,7098 no. 107 - Al Narjis Dist.,Al Narjis,24.8192111818279,46.6853692813301,10100003150,,
43,almnar private schools for girls,3197 al mulaysan - Al Yarmuk Dist.,Al Yarmuk,24.803990422394,46.7876110494487,10100003139,,
44,alquds secondary schoo,2432 marakish - Al Quds Dist.,Al Quds,24.7570548387739,46.7431373547774,10100003081,,
45,al-masoudi intermediate schoo,2855 al bayda - Al Rabwah Dist.,Al Rabwah,24.6824181223503,46.7628246552919,10100003047,,
46,alofoq schoo,4295 satam ghazay al mutairi - Al Shohda Dist.,Al Shohda,24.7845547998355,46.7447565383048,10100003016,,
47,alkhnsaaa schoo,7697 ibrahim az zawawi - Hitteen Dist.,Hitteen,24.7636032824121,46.6173079219652,10100003144,,
48,alnnumuww al'ahlia school secondary,7716 - Al Arid Dist.,Al Arid,24.865968693267,46.6412834521039,10100003148,,
49,al-trbyh al-namothajyah kindergarten schoo,3565 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.7104164161515,46.7771362904316,10100003090,,
50,alttamayuz alttarbiwi al'ahlia school,7254 prince abdulaziz ibn ayyaf - Al Yasmeen D...,Al Yasmeen,24.8302490417487,46.6470617340556,10100003147,,
51,amjad qurtoba private schools,3402 raya - Qurtubah Dist.,Qurtubah,24.8064686644043,46.7456761035436,10100003101,,
52,awayil almubadiein schoo,3647 al hussain ibn ali - Al Maseef Dist.,Al Maseef,24.767395095689,46.6845414338105,10100003084,,
53,al-trbyh al-namothajyah school -rayan,3262 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.709605555327,46.774261187698,10100003090,,
54,amjad qurtoba private schools,3286 raya - Qurtubah Dist.,Qurtubah,24.8060011003166,46.7444554400477,10100003101,,
55,as sumoo schoo,2318 shuhada badr - Al Muruj Dist.,Al Muruj,24.7590519474731,46.6541580524186,10100003110,,
56,american international schoo,2800 - Al Arid Dist.,Al Arid,24.8467562956395,46.6352624147187,10100003148,,
57,arqam private schools - girls sections,3624 abi muhammad ad dabbas - Al Shohda Dist.,Al Shohda,24.786043710058,46.7380775100049,10100003016,,
58,alwustaa schoo,6304 ar rajmiyah - Al Maseef Dist.,Al Maseef,24.7562643659513,46.6812666349713,10100003084,,
59,ansar schoo,2490 al kawatil - Al Dar Al Baida Dist.,Al Dar Al Baida,24.5568220204526,46.7628126236064,10100003130,,

In [1222]:
d['gender'][4]=''
d['type'][11]=''
d['gender'][13]=''
d['gender'][23]=''
d['gender'][25]=''
d['type'][25]=''
d['gender'][42]=''
d['gender'][47]=''

In [1223]:
d.tail(60)

,title,address,district,latitude,longitude,id,gender,type
128,nafi bin jubair elementary schoo,3355 suhail - Al Yarmuk Dist.,Al Yarmuk,24.8110754251724,46.7713530321972,10100003139,,
129,nu'man ibn malik middle school,7361 abdul rahman al faqih - Al Hamra Dist.,Al Hamra,24.7720157047738,46.750425546418,10100003129,,
130,Private School altnyeer,4122 abi jafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8079667205419,46.7790436276512,10100003139,,
131,resalet alhuda international schools,2462 an nasr branch rd - Al Aziziyah Dist.,Al Aziziyah,24.5879545047283,46.7616813447038,10100003029,,
132,primary school 315,3284 al faria - Ishbiliyah Dist.,Ishbiliyah,24.7919359852376,46.7789619288017,10100003137,,
133,private schools princes for boys,7996 an najah - Ishbiliyah Dist.,Ishbiliyah,24.7993158775706,46.8051974501583,10100003137,,
134,primary and intermediate schoo,8249 akli ibn abdul karim - Ishbiliyah Dist.,Ishbiliyah,24.8015442102653,46.8085345929991,10100003137,,
135,private schools assrar,6719 Al Meena - Al Mughrazat Dist.,Al Mughrazat,24.7583641444795,46.7237076201328,10100003105,,
136,riyadh alrayyan schools,9470 Al Imam Al Shafie - Al Rayan Dist.,Al Rayan,24.7257645987431,46.7844381279451,10100003090,,
137,primary and intermediate schoo,8249 akli ibn abdul karim - Ishbiliyah Dist.,Ishbiliyah,24.8015442102653,46.8085345929991,10100003137,,
138,private schools princes for boys,7996 an najah - Ishbiliyah Dist.,Ishbiliyah,24.7993158775706,46.8051974501583,10100003137,,
139,riyadh najed schoo,2471 al imam abdullah ibn saud ibn abdul aziz ...,Al Hamra,24.7772448180218,46.7352400823004,10100003129,,
140,rwaad aljazera of the civil boys complex sch...,2754 al qadsiyyah - Al Mughrazat Dist.,Al Mughrazat,24.7570778690003,46.7198707830003,10100003105,,
141,rwaad alomaraa national schools,3324 Abdullah Bin Qays - Ishbiliyah Dist.,Ishbiliyah,24.7882141116476,46.7792656669992,10100003137,,
142,saut girls intermidate and secondary schoo,8661 tayma street - Assafarat Dist.,Assafarat,24.6915469259519,46.6295454804938,10100003099,,
143,rwaad aljazera of the civil boys complex sch...,2733 said ibn muslat - Al Mughrazat Dist.,Al Mughrazat,24.7571209195292,46.7196786017502,10100003105,,
144,ryad jinan women's school for the memorization...,3410 al qayyas - Ishbiliyah Dist.,Ishbiliyah,24.7943123232008,46.7802651397659,10100003137,,
145,saut kingredant and elementary schoo,8982 p street - Assafarat Dist.,Assafarat,24.6836272865708,46.6169120297159,10100003099,,
146,rwaad aljazera of the civil boys complex sch...,2754 al qadsiyyah - Al Mughrazat Dist.,Al Mughrazat,24.7569365113013,46.719758908559,10100003105,,
147,sahafah schoo,4222 al imam saud ibn faysal rd - Al Sahafah D...,Al Sahafah,24.7999271152529,46.6441533404598,10100003123,,
148,rwaad aljazera of the civil boys complex sch...,2754 al qadsiyyah - Al Mughrazat Dist.,Al Mughrazat,24.7570162685735,46.7197239261371,10100003105,,
149,saut boys intermidate and secondary schoo,7811 dareen street - Assafarat Dist.,Assafarat,24.6838116947986,46.6335861027143,10100003099,,
150,schoo,7479 Obadah Bin Amdr Al Ansari - Al Rimal Dist.,Al Rimal,24.8361434467717,46.7971929468267,10100003153,,
151,schoo,3525 al hawashlah - Al Yarmuk Dist.,Al Yarmuk,24.8158911369867,46.7911340269178,10100003139,,
152,school affairs administration - ministry,9103 al amir abdul aziz ibn musaid ibn jalawi ...,Al Murabba,24.6510855619999,-313.285739885,10100003021,,
153,schoo,3872 street no. 390 - Al Munisiyah Dist.,Al Munisiyah,24.82653935534,46.7858033455832,10100003140,,
154,schoo,4247 street no. 99 - Al Munisiyah Dist.,Al Munisiyah,24.8258602274258,46.7894745267393,10100003140,,
155,school alamjad civil boys,7326 muhammad al manofi - Al Hamra Dist.,Al Hamra,24.7797004679402,46.7547880390511,10100003129,,
156,schoo,3392 street no. 235 - Al Munisiyah Dist.,Al Munisiyah,24.8242512418423,46.7632831094043,10100003140,,
157,school 54 kindergarten,6797 ad duah - Al Shohda Dist.,Al Shohda,24.7832579560854,46.7375861513072,10100003016,,
158,schoo,3735 Al Hadrah - Ghirnatah Dist.,Ghirnatah,24.8016259605491,46.7575650469302,10100003155,,
159,school asmaa bent Abu Bakr primary,6353 Ali Al Qabesi - Al Hamra Dist.,Al Hamra,24.7712665012797,46.7607894980652,10100003129,,
160,school health care gen. directora,6823 al amir abdul rahman ibn abdul aziz - Al ...,Al Murabba,24.66078602,-313.286882313,10100003021,,
161,school health unit _ badeea,7904 al hussain ibn abi al barkat - Dhahrat Al...,hahrat Al Badeah,24.5974573820001,46.6441166680002,10100003091,,
162,school wahab bin manbah intermedia,3087 Saeed Al Sami - Al Khaleej Dist.,Al Khaleej,24.7687858270676,46.7871700730435,10100003055,,
163,school health general administration_central h...,2704 abdullah ibn abdul latif al ash shaikh - ...,Al Murabba,24.6614085210001,-313.285197983,10100003021,,
164,school maaqal ibn yasar primary,3104 an nabighah ash shibani - Al Khaleej Dist.,Al Khaleej,24.7684907739027,46.7872766728967,10100003055,,
165,school health un,9099 al amir saad ibn abdul aziz - Al Namudhaj...,Al Namudhajiyah,24.6615266960002,46.69806198,10100003002,,
166,school my character,3628 at tahliyah - Al Aqeeq Dist.,Al Aqeeq,24.7823852400501,46.6286749317848,10100003107,,
167,school health care unit - main un,9103 al amir abdul aziz ibn musaid ibn jalawi ...,Al Murabba,24.6510223940001,-313.286225892,10100003021,,
168,school house deeds for the memorization of the...,7096 as sanif - Al Fayha Dist.,Al Fayha,24.6776651695071,46.8212070751751,10100003133,,
169,schools alebtikariyah civ,7238 abdul rahman ibn mihanna - King Faisal Dist.,King Faisal,24.7581665291123,46.7697436372561,10100003027,,
170,schools ibn khaldun civ,3079 abdulaziz hasan al faduli - Al Nafel Dist.,Al Nafel,24.7724861780924,46.6702458698499,10100003083,,
171,schools sons of the kingdom for girls,3475 as sail al kabir - Al Ghadeer Dist.,Al Ghadeer,24.7723349189637,46.6534450452511,10100003109,,
172,sunrise indigenous knowledge schools - element...,3783 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8056186089347,46.775585408255,10100003139,,
173,schools shoumoukh,8283 ushba - Al Shohda Dist.,Al Shohda,24.7967127373159,46.7381527564934,10100003016,,
174,sheikh fahad alawaidhah school charity for th...,3387 utban ibn malik - Al Khaleej Dist.,Al Khaleej,24.7680703840005,46.7901580611429,10100003055,,
175,schools prospects,2545 wadi utbah - Al Nakheel Dist.,Al Nakheel,24.7359763534775,46.5957430249816,10100003108,,
176,schools sunrise typical knowledge benin,6574 al liwa - Al Yarmuk Dist.,Al Yarmuk,24.7959523737267,46.7675757963008,10100003139,,
177,schools generations of civilization,3958 muhammad ibn abdullah al burqi - Al Munis...,Al Munisiyah,24.8234468650492,46.7686782398023,10100003140,,
178,schools sons kingdom,6955 ath thumamah rd - Al Rabie Dist.,Al Rabie,24.7861513177004,46.6467662335278,10100003104,,
179,sunrise ik schools - average girls,3761 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8055353277995,46.7753498416155,10100003139,,
180,suraqa bin malik schoo,6582 nahr as subat - East Naseem Dist.,East Naseem,24.7182734845132,46.8502580905853,10100003080,,
181,uwaiq girls elementary schoo,"""8827 hera'a street - Assafarat Dist.""",Assafarat,24.6822590964924,46.6168644404956,10100003099,,
182,sunrise indigenous knowledge schools - seconda...,3761 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8054877385795,46.7752237301822,10100003139,,
183,hree hundred and fifty two schoo,6815 al muharibi - Ishbiliyah Dist.,Ishbiliyah,24.7886238817542,46.8003291188817,10100003137,,
184,alat schoo,7425 Salem Bin Maaqil - Al Nakheel Dist.,Al Nakheel,24.7365744904878,46.6101901009382,10100003108,,
185,uwaiq girls intermidate and secondary schoo,3696 attawqi street - Assafarat Dist.,Assafarat,24.6787144927475,46.6290957623637,10100003099,,
186,hree hundred and fifty two schoo,6815 al muharibi - Ishbiliyah Dist.,Ishbiliyah,24.7886238817542,46.8003291188817,10100003137,,
187,younis bin obaid middle schoo,2764 az zumrah - Al Fayha Dist.,Al Fayha,24.6804766255004,46.8036650074652,10100003133,,

In [1224]:
d['type'][184]=''
d['gender'][184]=''
d['type'][181]=''
d['type'][178]=''
d['gender'][174]=''
d['gender'][171]=''
d['type'][168]=''
d['type'][167]=' '
d['type'][149]=' '
d['type'][148]='  '
d['type'][147]='  '
d['gender'][132]=''
d['gender'][150]=''
d['type'][150]=''
d['title'][150]='    '
d['gender'][151]=''
d['type'][151]=''
d['title'][151]='   '
d['gender'][152]=''
d['type'][152]=' '
d['title'][152]='   '
d['gender'][153]=''
d['type'][153]=' '
d['title'][153]='   '
d['gender'][154]=''
d['type'][154]=''
d['title'][154]='  '
d['gender'][155]=''
d['type'][155]=''
d['title'][155]='   '

In [1225]:
d.ix[61:120]

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,title,address,district,latitude,longitude,id,gender,type
61,cordoba private schools,3347 al qalam - Al Munisiyah Dist.,Al Munisiyah,24.818481409788,46.7628468193656,10100003140,,
62,dar al-babtain quran school for girls,6596 taiba - Qurtubah Dist.,Qurtubah,24.805528408392,46.7428299138782,10100003101,,
63,blossom international school riyadh,7391 muhammad ibn uthaimin - King Faisal Dist.,King Faisal,24.7593959001471,46.7844479786465,10100003027,,
64,british international school riyadh,7680 ibrahim mubarak said ad dusari - Al Shohd...,Al Shohda,24.7912954176327,46.7300190799723,10100003016,,
65,dallah driving schoo,3826 jabal az zaytun - Al Nakheel Dist.,Al Nakheel,24.7509493101451,46.6354544109245,10100003108,,
66,boys secondary schoo,7647 dareen street - Assafarat Dist.,Assafarat,24.682542648929,46.6283712164874,10100003099,,
67,dallah driving schoo,7731 Prince Mohammed Ibn Salman Ibn Abdulaziz ...,Al Sahafah,24.7766188553139,46.6409481458236,10100003123,,
68,boys intermidate schoo,3588 arradaef street - Assafarat Dist.,Assafarat,24.6812482221417,46.6285044663038,10100003099,,
69,crayons international schoo,3249 jalilah bint murrah - Al Mursalat Dist.,Al Mursalat,24.7391361987511,46.6888768331951,10100003024,,
70,dar es salaam schools,3071 ahmad al waidh - Al Rahmaniyah Dist.,Al Rahmaniyah,24.7217491362435,46.657434841726,10100003013,,
71,ducational age international schools,6897 al ulaya - Al Yasmeen Dist.,Al Yasmeen,24.8181342613745,46.6228155392516,10100003147,,
72,dar aluloom schools,3773 al mizan - Al Falah Dist.,Al Falah,24.7968258017502,46.7137099221056,10100003022,,
73,directorate of women's schools for Qura'an,6982 al ruwaishid - Al Badeah Dist.,Al Badeah,24.6217261459999,-313.319284723,10100003071,,
74,dar albarra'at al'ahlia school,8007 Al Sonbolah - Al Narjis Dist.,Al Narjis,24.8429812545218,46.6675245236783,10100003150,,
75,dar global elite schools,7211 muhammad al yusufi - Al Aqeeq Dist.,Al Aqeeq,24.7801912500979,46.6170580174816,10100003107,,
76,krmah primary schoo,7247 Al Abbas Bin Jareer - Al Saadah Dist.,Al Saadah,24.6889008198512,46.8269272700712,10100003036,,
77,dar almarifah schools benin,2493 umar ibn rubian - West Naseem Dist.,West Naseem,24.7357838549724,46.8086465070976,10100003167,,
78,delta national schoo,7138 al amir abdullah ibn faisal ibn abdul azi...,Salahuddin,24.7298216333606,46.6941597047001,10100003043,,
79,mentary school 156,5063 muhammad al jabali - Al Nakheel Dist.,Al Nakheel,24.7546994398346,46.6478188834645,10100003108,,
80,farabi school of dental medicin,7211 abdullah al jasir - Ishbiliyah Dist.,Ishbiliyah,24.7915609762064,46.8018306080135,10100003137,,
81,generation of good schools eligibility for girls,4063 hibatullah al bawsiri - Al Aqeeq Dist.,Al Aqeeq,24.7845969252606,46.6327748382766,10100003107,,
82,girls schools complex,8199 abi al qasim al hashimi - Al Rawabi Dist.,Al Rawabi,24.69958987761,46.7876094757052,10100003089,,
83,forty-third high schoo,8445 jabal buwaib - Al Dar Al Baida Dist.,Al Dar Al Baida,24.5646944671894,46.7690870243316,10100003130,,
84,girls schoo,7291 ghazi al qasaibi - Al Hamra Dist.,Al Hamra,24.7793613947469,46.7568343755162,10100003129,,
85,fatimat bnt asd school intermedia,7028 prince fahad bin mohammad bin abdul aziz ...,Al Malqa,24.7838095753086,46.5811638273336,10100003145,,
86,gharas al'akhlaq school for girls,2855 al hussatayn - Al Nafel Dist.,Al Nafel,24.7874810215216,46.6686477873385,10100003083,,
87,farabi school of dental medicin,7211 abdullah al jasir - Ishbiliyah Dist.,Ishbiliyah,24.7915609762064,46.8018306080135,10100003137,,
88,Generations Private Schools,4724 zaidal khyr - Al Rawdah Dist.,Al Rawdah,24.73463291498,46.7823242291502,10100003088,,
89,growth national schools,7720 King Abdulaziz - Al Sahafah Dist.,Al Sahafah,24.8091161246402,46.6480890348472,10100003123,,
90,hajer alyamama private schools,7084 muhammad al qusaibi - King Faisal Dist.,King Faisal,24.756765029995,46.7718905466203,10100003027,,
91,huda private school primary section,6252 al amar - Al Aziziyah Dist.,Al Aziziyah,24.5894990756764,46.7637997747293,10100003029,,
92,mam saud alkabeer primary schoo,7088 hajar ibn yazid - West Naseem Dist.,West Naseem,24.7349108703871,46.815181046364,10100003167,,
93,hamad al jaser intermediate schoo,3168 no. 2 - Al Jazeerah Dist.,Al Jazeerah,24.6566652144365,46.7961695088266,10100003035,,
94,bn al ameed elementary schoo,7918 Ibn Al Athir - Al Olaya Dist.,Al Olaya,24.7056842030523,46.6688877376429,10100003075,,
95,haneen intermediate school for boys,8148 hawtah bani tamim - Al Olaya Dist.,Al Olaya,24.7070532608947,46.6724716504701,10100003075,,
96,deal education schools complex,3791 Al Ameer Miqren Bin Abdulaziz - Al Nuzha ...,Al Nuzha,24.7560536479871,46.7126047675612,10100003025,,
97,gulf girls schools,7533 prince ahmad ibn abdulaziz - Al Woroud Dist.,Al Woroud,24.7272968056079,46.6808046545041,10100003026,,
98,haroon ar rasheed pymari schoo,7277 yahya ibn abi ishaq - Al Rabwah Dist.,Al Rabwah,24.6999897073748,46.7506748957574,10100003047,,
99,deal education schools complex,3791 Al Ameer Miqren Bin Abdulaziz - Al Nuzha ...,Al Nuzha,24.7555982640812,46.7124679174424,10100003025,,
100,ntermediate school 202,7370 sabat as saudi - Al Nuzha Dist.,Al Nuzha,24.7561226523562,46.7161287493108,10100003025,,
101,khaled bin al waleed primary schoo,4585 al loaloah - King Abdullah Dist.,King Abdullah,24.714784192152,46.7575832844606,10100003041,,
102,ntermediata schoo,7191 al sharabi - Qurtubah Dist.,Qurtubah,24.8198961992185,46.7289508094412,10100003101,,
103,jehad secondary schoo,2704 ali al hawfi - Al Dar Al Baida Dist.,Al Dar Al Baida,24.562890240882,46.7648039945211,10100003130,,
104,mam tabarani middle schoo,8613 muhammad ash shawi - East Naseem Dist.,East Naseem,24.7368292997188,46.8363915669267,10100003080,,
105,ntilaka schools,2787 al amir badr ibn abdul aziz - Al Rabwah D...,Al Rabwah,24.7024405327532,46.752866592053,10100003047,,
106,king faisal foundation schoo,3542 s street - Assafarat Dist.,Assafarat,24.6834250323853,46.6190773392312,10100003099,,
107,mam shu?bah quran recitation schoo,2899 sulaiman al bustani - Al Salam Dist.,Al Salam,24.7163736116733,46.8035663114348,10100003078,,
108,International Indian Schoo,Riyadh,Street': 'kharis branch rd,UnitNumber': Non,atitude': '24.722407145796,PKAddressID': '1321138146876,,
109,khaled international schoo,4209 al amir fawaz ibn abdul aziz - Al Rabwah ...,Al Rabwah,24.6970184999798,46.7451355773849,10100003047,,
110,kingdom schools,6693 King Abdulaziz - Al Rabie Dist.,Al Rabie,24.7925416482883,46.6587907066842,10100003104,,
111,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.7893891917633,46.7187191782865,10100003086,,
112,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.789698521694,46.718528821406,10100003086,,
113,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.7891560045848,46.7177483581962,10100003086,,
114,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.7899412267167,46.7183479823697,10100003086,,
115,Learning Schools -Boys,4001 yafa - Qurtubah Dist.,Qurtubah,24.8269205678386,46.7455537447589,10100003101,,
116,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.7888942638741,46.7182242503973,10100003086,,
117,muhammad iqbal primary schoo,3633 hind bint utbat - West Naseem Dist.,West Naseem,24.7159013184837,46.8310781151897,10100003167,,
118,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.7887181837597,46.7176151083799,10100003086,,
119,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.788832397888,46.7179672686087,10100003086,,
120,mujahed middle schoo,3736 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6916582646094,46.7622323243197,10100003047,,

In [1226]:
d['type'][68]=''
d['type'][79]=''
d['gender'][79]=''
d['gender'][83]=''
d['gender'][85]=''
d['type'][85]=''
d['gender'][93]=''
d['gender'][94]=''
d['gender'][98]=''
d['type'][98]=''
d['type'][100]=''
d['type'][102]=''
d['gender'][102]=''
d['gender'][103]=''
d['gender'][104]=''
d['gender'][115]=''
d['gender'][117]=''
d['gender'][120]=''

In [1227]:
d.drop_duplicates(subset=['title','type'],keep='last',inplace=True)

In [1228]:
d.drop( d[ d['title'].str.contains('health') ].index , inplace=True)

In [1229]:
d.drop( d[ d['title'].str.contains('affairs') ].index , inplace=True)

In [1230]:
d.drop( d[ d['title'].str.contains('memorizatio') ].index , inplace=True)

In [1231]:
d.drop( d[ d['title'].str.contains('quran') ].index , inplace=True)

In [1232]:
d.drop( d[ d['title'].str.contains('affair') ].index , inplace=True)

In [1233]:
d.drop( d[ d['title'].str.contains('driving') ].index , inplace=True)

In [1234]:
d.drop( d[ d['title'].str.contains('Qura\'an') ].index , inplace=True)

In [1235]:
d.drop( d[ d['title'].str.contains('dental') ].index , inplace=True)

In [1236]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 187
Data columns (total 8 columns):
title        158 non-null object
address      158 non-null object
district     158 non-null object
latitude     158 non-null object
longitude    158 non-null object
id           158 non-null object
gender       158 non-null object
type         158 non-null object
dtypes: object(8)
memory usage: 6.2+ KB

In [1237]:
d.head(60)

,title,address,district,latitude,longitude,id,gender,type
0,192 middle school girls,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016,,
1,331 girls' primary school,3908 al bandaria - Al Hamra Dist.,Al Hamra,24.7729674891762,46.749396429533,10100003129,,
2,100 intermediate school girls,3754 ahmad ibn aqil - King Faisal Dist.,King Faisal,24.7496170662318,46.7763934475282,10100003027,,
3,21 primary schoo,7088 an nabaqin - Al Yarmuk Dist.,Al Yarmuk,24.8085710335466,46.7873121296599,10100003139,,
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016,,
5,190 intermediate school girls,6612 as sabihiyyah - Ishbiliyah Dist.,Ishbiliyah,24.7817738497527,46.7884428783457,10100003137,,
6,273 elementary school girl section,2568 safaqis - Ghirnatah Dist.,Ghirnatah,24.7955331523553,46.745738035145,10100003155,,
7,164 middle school girls alyermuk,3884 an nuwibah - Al Yarmuk Dist.,Al Yarmuk,24.8071787315967,46.7945255450144,10100003139,,
8,229 primary school girls,7820 amr ash shaybani - Al Quds Dist.,Al Quds,24.7566027411829,46.7466565776051,10100003081,,
9,370 primary school girls,4270 sulayman ibn mahmud - Ishbiliyah Dist.,Ishbiliyah,24.7812827290009,46.7885551889053,10100003137,,
10,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016,,
11,abe muhjin althagafi primary schoo,4357 al marikha - Al Manar Dist.,Al Manar,24.7268568515612,46.8066228975518,10100003079,,
12,adwaa al hedaya schools,2866 Al Ghat - Al Taawun Dist.,Al Taawun,24.7783017358029,46.6949768879782,10100003085,,
13,abdulaziz ibn baz high schoo,7594 raghbah - Al Woroud Dist.,Al Woroud,24.7280629920518,46.6780944484184,10100003026,,
15,60 high school for girls,2904 sayfi al ansari - West Naseem Dist.,West Naseem,24.7325171326152,46.8126526271334,10100003167,,
16,abdulrahman nasser intermediate school benin,4269 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7171933250381,46.8172986741511,10100003167,,
17,advanced private schools,7191 al bahar al mutawassit - Al Aqeeq Dist.,Al Aqeeq,24.780346838457,46.6288042189863,10100003107,,
18,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101,,
19,abu basir primary school - benin,2607 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7196804288939,46.8211826727134,10100003167,,
20,adwaa alriyadh schools,6485 al kawakib - Al Qadisiyah Dist.,Al Qadisiyah,24.8109154573286,46.8093903401189,10100003073,,
21,al ma'ali school,6674 al amir jalawi ibn turki ibn abdullah - A...,Al Muruj,24.7520527395974,46.6646523481082,10100003110,,
22,al naseem international schoo,7823 Osamah Bin Zayd - West Naseem Dist.,West Naseem,24.7194484393776,46.8320071422273,10100003167,,
23,ajyal althoraya schools,7280 ibn rashiq - King Faisal Dist.,King Faisal,24.7584544473091,46.777434690764,10100003027,,
24,al malqa primary schoo,3491 no. 556 - Al Malqa Dist.,Al Malqa,24.8191650607434,46.6109105322662,10100003145,,
25,al raeed schoo,3286 ask shaikh abdullah al makhdub - Al Wadi ...,Al Wadi,24.790548250144,46.6907368986812,10100003082,,
26,al faruq secondary schoo,2839 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6904233411942,46.7631299367038,10100003047,,
27,al mathani females schoo,7222 Al Abbas Bin Jareer - Al Saadah Dist.,Al Saadah,24.6885724542324,46.826817814865,10100003036,,
28,al baiariq private schools girls,5307 jalawi ibn abdul muhsin - Al Rawabi Dist.,Al Rawabi,24.6924391102161,46.8061800583671,10100003089,,
29,al manar schoo,3131 northern ring branch rd - Al Maseef Dist.,Al Maseef,24.7741323045981,46.6803212766264,10100003084,,
30,alaptikariyah schoo,3994 qalat al fustat - Ishbiliyah Dist.,Ishbiliyah,24.7967780828303,46.8039447545254,10100003137,,
31,alfath schoo,8043 tumair - Al Muruj Dist.,Al Muruj,24.764246642338,46.6621353054351,10100003110,,
32,alamjad national school for girls,3731 - Al Hamra Dist.,Al Hamra,24.7780815655718,46.7477299403085,10100003129,,
33,aldiwan private schools,4196 al amir saud ibn abdul aziz al saud al ka...,Al Quds,24.7614233104353,46.7606291062844,10100003081,,
34,al tarbiyah private schoo,7176 Abdulrahman Al Rafie - Al Nakheel Dist.,Al Nakheel,24.7455758430004,46.6522760202567,10100003108,,
35,alarqam national schools in riyadh,4134 umar ibn hirah - Al Hamra Dist.,Al Hamra,24.7707605390933,46.7517758905388,10100003129,,
36,alforsan international school for girls,3332 ibn mashal - Al Ezdihar Dist.,Al Ezdihar,24.7771167361533,46.717364988362,10100003086,,
37,al yasmin indian international schoo,3749 as saharawi - Al Malaz Dist.,Al Malaz,24.6660308584666,46.7437543000625,10100003051,,
38,albaiareq schoo,5394 prince saad ibn abdulrahman al awal rd - ...,Al Rawabi,24.6927246455368,46.8067511290086,10100003089,,
39,alhussan international schoo,7349 rumman - Qurtubah Dist.,Qurtubah,24.8046631114017,46.734610214948,10100003101,,
40,aljodah national schools,3074 al laymun - Al Mughrazat Dist.,Al Mughrazat,24.7656820380013,46.7231728164427,10100003105,,
41,almwred private schools,2714 ash shaikh abdul aziz ibn abdul rahman ib...,Al Khaleej,24.7732374480003,46.7835473140003,10100003055,,
42,alsadara schools,7098 no. 107 - Al Narjis Dist.,Al Narjis,24.8192111818279,46.6853692813301,10100003150,,
43,almnar private schools for girls,3197 al mulaysan - Al Yarmuk Dist.,Al Yarmuk,24.803990422394,46.7876110494487,10100003139,,
44,alquds secondary schoo,2432 marakish - Al Quds Dist.,Al Quds,24.7570548387739,46.7431373547774,10100003081,,
45,al-masoudi intermediate schoo,2855 al bayda - Al Rabwah Dist.,Al Rabwah,24.6824181223503,46.7628246552919,10100003047,,
46,alofoq schoo,4295 satam ghazay al mutairi - Al Shohda Dist.,Al Shohda,24.7845547998355,46.7447565383048,10100003016,,
47,alkhnsaaa schoo,7697 ibrahim az zawawi - Hitteen Dist.,Hitteen,24.7636032824121,46.6173079219652,10100003144,,
48,alnnumuww al'ahlia school secondary,7716 - Al Arid Dist.,Al Arid,24.865968693267,46.6412834521039,10100003148,,
49,al-trbyh al-namothajyah kindergarten schoo,3565 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.7104164161515,46.7771362904316,10100003090,,
50,alttamayuz alttarbiwi al'ahlia school,7254 prince abdulaziz ibn ayyaf - Al Yasmeen D...,Al Yasmeen,24.8302490417487,46.6470617340556,10100003147,,
52,awayil almubadiein schoo,3647 al hussain ibn ali - Al Maseef Dist.,Al Maseef,24.767395095689,46.6845414338105,10100003084,,
53,al-trbyh al-namothajyah school -rayan,3262 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.709605555327,46.774261187698,10100003090,,
54,amjad qurtoba private schools,3286 raya - Qurtubah Dist.,Qurtubah,24.8060011003166,46.7444554400477,10100003101,,
55,as sumoo schoo,2318 shuhada badr - Al Muruj Dist.,Al Muruj,24.7590519474731,46.6541580524186,10100003110,,
56,american international schoo,2800 - Al Arid Dist.,Al Arid,24.8467562956395,46.6352624147187,10100003148,,
57,arqam private schools - girls sections,3624 abi muhammad ad dabbas - Al Shohda Dist.,Al Shohda,24.786043710058,46.7380775100049,10100003016,,
58,alwustaa schoo,6304 ar rajmiyah - Al Maseef Dist.,Al Maseef,24.7562643659513,46.6812666349713,10100003084,,
59,ansar schoo,2490 al kawatil - Al Dar Al Baida Dist.,Al Dar Al Baida,24.5568220204526,46.7628126236064,10100003130,,
60,boys elementary schoo,"""3208 hera'a street - Assafarat Dist.""",Assafarat,24.6789873376094,46.615746093823,10100003099,,
61,cordoba private schools,3347 al qalam - Al Munisiyah Dist.,Al Munisiyah,24.818481409788,46.7628468193656,10100003140,,

### Translation

In [1238]:
d.head(60)

,title,address,district,latitude,longitude,id,gender,type
0,192 middle school girls,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016,,
1,331 girls' primary school,3908 al bandaria - Al Hamra Dist.,Al Hamra,24.7729674891762,46.749396429533,10100003129,,
2,100 intermediate school girls,3754 ahmad ibn aqil - King Faisal Dist.,King Faisal,24.7496170662318,46.7763934475282,10100003027,,
3,21 primary schoo,7088 an nabaqin - Al Yarmuk Dist.,Al Yarmuk,24.8085710335466,46.7873121296599,10100003139,,
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016,,
5,190 intermediate school girls,6612 as sabihiyyah - Ishbiliyah Dist.,Ishbiliyah,24.7817738497527,46.7884428783457,10100003137,,
6,273 elementary school girl section,2568 safaqis - Ghirnatah Dist.,Ghirnatah,24.7955331523553,46.745738035145,10100003155,,
7,164 middle school girls alyermuk,3884 an nuwibah - Al Yarmuk Dist.,Al Yarmuk,24.8071787315967,46.7945255450144,10100003139,,
8,229 primary school girls,7820 amr ash shaybani - Al Quds Dist.,Al Quds,24.7566027411829,46.7466565776051,10100003081,,
9,370 primary school girls,4270 sulayman ibn mahmud - Ishbiliyah Dist.,Ishbiliyah,24.7812827290009,46.7885551889053,10100003137,,
10,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016,,
11,abe muhjin althagafi primary schoo,4357 al marikha - Al Manar Dist.,Al Manar,24.7268568515612,46.8066228975518,10100003079,,
12,adwaa al hedaya schools,2866 Al Ghat - Al Taawun Dist.,Al Taawun,24.7783017358029,46.6949768879782,10100003085,,
13,abdulaziz ibn baz high schoo,7594 raghbah - Al Woroud Dist.,Al Woroud,24.7280629920518,46.6780944484184,10100003026,,
15,60 high school for girls,2904 sayfi al ansari - West Naseem Dist.,West Naseem,24.7325171326152,46.8126526271334,10100003167,,
16,abdulrahman nasser intermediate school benin,4269 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7171933250381,46.8172986741511,10100003167,,
17,advanced private schools,7191 al bahar al mutawassit - Al Aqeeq Dist.,Al Aqeeq,24.780346838457,46.6288042189863,10100003107,,
18,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101,,
19,abu basir primary school - benin,2607 abdullah ibn badil - West Naseem Dist.,West Naseem,24.7196804288939,46.8211826727134,10100003167,,
20,adwaa alriyadh schools,6485 al kawakib - Al Qadisiyah Dist.,Al Qadisiyah,24.8109154573286,46.8093903401189,10100003073,,
21,al ma'ali school,6674 al amir jalawi ibn turki ibn abdullah - A...,Al Muruj,24.7520527395974,46.6646523481082,10100003110,,
22,al naseem international schoo,7823 Osamah Bin Zayd - West Naseem Dist.,West Naseem,24.7194484393776,46.8320071422273,10100003167,,
23,ajyal althoraya schools,7280 ibn rashiq - King Faisal Dist.,King Faisal,24.7584544473091,46.777434690764,10100003027,,
24,al malqa primary schoo,3491 no. 556 - Al Malqa Dist.,Al Malqa,24.8191650607434,46.6109105322662,10100003145,,
25,al raeed schoo,3286 ask shaikh abdullah al makhdub - Al Wadi ...,Al Wadi,24.790548250144,46.6907368986812,10100003082,,
26,al faruq secondary schoo,2839 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6904233411942,46.7631299367038,10100003047,,
27,al mathani females schoo,7222 Al Abbas Bin Jareer - Al Saadah Dist.,Al Saadah,24.6885724542324,46.826817814865,10100003036,,
28,al baiariq private schools girls,5307 jalawi ibn abdul muhsin - Al Rawabi Dist.,Al Rawabi,24.6924391102161,46.8061800583671,10100003089,,
29,al manar schoo,3131 northern ring branch rd - Al Maseef Dist.,Al Maseef,24.7741323045981,46.6803212766264,10100003084,,
30,alaptikariyah schoo,3994 qalat al fustat - Ishbiliyah Dist.,Ishbiliyah,24.7967780828303,46.8039447545254,10100003137,,
31,alfath schoo,8043 tumair - Al Muruj Dist.,Al Muruj,24.764246642338,46.6621353054351,10100003110,,
32,alamjad national school for girls,3731 - Al Hamra Dist.,Al Hamra,24.7780815655718,46.7477299403085,10100003129,,
33,aldiwan private schools,4196 al amir saud ibn abdul aziz al saud al ka...,Al Quds,24.7614233104353,46.7606291062844,10100003081,,
34,al tarbiyah private schoo,7176 Abdulrahman Al Rafie - Al Nakheel Dist.,Al Nakheel,24.7455758430004,46.6522760202567,10100003108,,
35,alarqam national schools in riyadh,4134 umar ibn hirah - Al Hamra Dist.,Al Hamra,24.7707605390933,46.7517758905388,10100003129,,
36,alforsan international school for girls,3332 ibn mashal - Al Ezdihar Dist.,Al Ezdihar,24.7771167361533,46.717364988362,10100003086,,
37,al yasmin indian international schoo,3749 as saharawi - Al Malaz Dist.,Al Malaz,24.6660308584666,46.7437543000625,10100003051,,
38,albaiareq schoo,5394 prince saad ibn abdulrahman al awal rd - ...,Al Rawabi,24.6927246455368,46.8067511290086,10100003089,,
39,alhussan international schoo,7349 rumman - Qurtubah Dist.,Qurtubah,24.8046631114017,46.734610214948,10100003101,,
40,aljodah national schools,3074 al laymun - Al Mughrazat Dist.,Al Mughrazat,24.7656820380013,46.7231728164427,10100003105,,
41,almwred private schools,2714 ash shaikh abdul aziz ibn abdul rahman ib...,Al Khaleej,24.7732374480003,46.7835473140003,10100003055,,
42,alsadara schools,7098 no. 107 - Al Narjis Dist.,Al Narjis,24.8192111818279,46.6853692813301,10100003150,,
43,almnar private schools for girls,3197 al mulaysan - Al Yarmuk Dist.,Al Yarmuk,24.803990422394,46.7876110494487,10100003139,,
44,alquds secondary schoo,2432 marakish - Al Quds Dist.,Al Quds,24.7570548387739,46.7431373547774,10100003081,,
45,al-masoudi intermediate schoo,2855 al bayda - Al Rabwah Dist.,Al Rabwah,24.6824181223503,46.7628246552919,10100003047,,
46,alofoq schoo,4295 satam ghazay al mutairi - Al Shohda Dist.,Al Shohda,24.7845547998355,46.7447565383048,10100003016,,
47,alkhnsaaa schoo,7697 ibrahim az zawawi - Hitteen Dist.,Hitteen,24.7636032824121,46.6173079219652,10100003144,,
48,alnnumuww al'ahlia school secondary,7716 - Al Arid Dist.,Al Arid,24.865968693267,46.6412834521039,10100003148,,
49,al-trbyh al-namothajyah kindergarten schoo,3565 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.7104164161515,46.7771362904316,10100003090,,
50,alttamayuz alttarbiwi al'ahlia school,7254 prince abdulaziz ibn ayyaf - Al Yasmeen D...,Al Yasmeen,24.8302490417487,46.6470617340556,10100003147,,
52,awayil almubadiein schoo,3647 al hussain ibn ali - Al Maseef Dist.,Al Maseef,24.767395095689,46.6845414338105,10100003084,,
53,al-trbyh al-namothajyah school -rayan,3262 al amir majid ibn abdul aziz - Al Rayan D...,Al Rayan,24.709605555327,46.774261187698,10100003090,,
54,amjad qurtoba private schools,3286 raya - Qurtubah Dist.,Qurtubah,24.8060011003166,46.7444554400477,10100003101,,
55,as sumoo schoo,2318 shuhada badr - Al Muruj Dist.,Al Muruj,24.7590519474731,46.6541580524186,10100003110,,
56,american international schoo,2800 - Al Arid Dist.,Al Arid,24.8467562956395,46.6352624147187,10100003148,,
57,arqam private schools - girls sections,3624 abi muhammad ad dabbas - Al Shohda Dist.,Al Shohda,24.786043710058,46.7380775100049,10100003016,,
58,alwustaa schoo,6304 ar rajmiyah - Al Maseef Dist.,Al Maseef,24.7562643659513,46.6812666349713,10100003084,,
59,ansar schoo,2490 al kawatil - Al Dar Al Baida Dist.,Al Dar Al Baida,24.5568220204526,46.7628126236064,10100003130,,
60,boys elementary schoo,"""3208 hera'a street - Assafarat Dist.""",Assafarat,24.6789873376094,46.615746093823,10100003099,,
61,cordoba private schools,3347 al qalam - Al Munisiyah Dist.,Al Munisiyah,24.818481409788,46.7628468193656,10100003140,,

In [1242]:
d['title'][0]='192 '
d['title'][1]='164 '
d['title'][6]='273  '
d['title'][11]=' 91'
d['title'][11]=' 91'
d['title'][13]='   '
d['title'][13]='   '
d['title'][14]='  '
d['title'][17]='   '
d['title'][19]='  '
d['title'][20]='  '
d['title'][21]='  '
d['title'][22]='  '
d['title'][23]=' '
d['title'][24]=' '
d['title'][25]=' '
d['title'][26]=' '
d['title'][27]=' '
d['title'][28]=' '
d['type'][28]=''
d['title'][29]=' '
d['title'][30]='  '
d['title'][32]=' '
d['title'][33]=' '
d['title'][34]=' '
d['title'][35]=' '
d['title'][36]=' '
d['title'][37]=' '
d['title'][38]='  '
d['title'][39]='  '
d['title'][40]=' '
d['title'][42]=' '
d['title'][43]=' '
d['title'][44]=' '
d['title'][45]='  '
d['title'][46]='  '
d['title'][48]='  '
d['title'][49]='  '
d['title'][50]='  '
d['title'][51]='  '
d['title'][52]=' '
d['title'][55]='  '
d['title'][56]=' '
d['title'][57]=' '
d['title'][58]=' '
d['title'][59]='  '
d['title'][60]='  '
d.drop( d[ d['title'].str.contains('alkhnsaaa') ].index , inplace=True)

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:48: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [1243]:
d.tail(60)

,title,address,district,latitude,longitude,id,gender,type
108,International Indian Schoo,Riyadh,Street': 'kharis branch rd,UnitNumber': Non,atitude': '24.722407145796,PKAddressID': '1321138146876,,
109,khaled international schoo,4209 al amir fawaz ibn abdul aziz - Al Rabwah ...,Al Rabwah,24.6970184999798,46.7451355773849,10100003047,,
110,kingdom schools,6693 King Abdulaziz - Al Rabie Dist.,Al Rabie,24.7925416482883,46.6587907066842,10100003104,,
115,Learning Schools -Boys,4001 yafa - Qurtubah Dist.,Qurtubah,24.8269205678386,46.7455537447589,10100003101,,
117,muhammad iqbal primary schoo,3633 hind bint utbat - West Naseem Dist.,West Naseem,24.7159013184837,46.8310781151897,10100003167,,
119,manarat al riyadh international schoo,3519 eastern ring branch rd - Al Ezdihar Dist.,Al Ezdihar,24.788832397888,46.7179672686087,10100003086,,
120,mujahed middle schoo,3736 umar ibn abdul aziz branch rd - Al Rabwah...,Al Rabwah,24.6916582646094,46.7622323243197,10100003047,,
121,nayyar national schools complex public adminis...,3744 al qalam - Al Rabie Dist.,Al Rabie,24.8016568745325,46.6691538006947,10100003104,,
122,om alqura schools the globa,7169 ash shaikh abdul rahman ibn abdul latif i...,Al Manar,24.7230181860936,46.8067160137927,10100003079,,
123,najd national schools and lnternationa,7571 king fahd branch road - Al Woroud Dist.,Al Woroud,24.7254234307713,46.6673786181215,10100003026,,
124,nwrt bnt faysal bin trky school primary,7028 prince fahad bin mohammad bin abdul aziz ...,Al Malqa,24.7842521550556,46.5819918797636,10100003145,,
125,multinational schoo,7477 Al Barakah - Al Falah Dist.,Al Falah,24.7982510175176,46.7096001868465,10100003022,,
126,neyar schools girls,3808 al qalam - Al Rabie Dist.,Al Rabie,24.801878164406,46.6697534248683,10100003104,,
127,pioneers of science civil schoo,2799 al kharj - Al Aziziyah Dist.,Al Aziziyah,24.6090724095573,46.7653311385699,10100003029,,
128,nafi bin jubair elementary schoo,3355 suhail - Al Yarmuk Dist.,Al Yarmuk,24.8110754251724,46.7713530321972,10100003139,,
129,nu'man ibn malik middle school,7361 abdul rahman al faqih - Al Hamra Dist.,Al Hamra,24.7720157047738,46.750425546418,10100003129,,
130,Private School altnyeer,4122 abi jafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8079667205419,46.7790436276512,10100003139,,
131,resalet alhuda international schools,2462 an nasr branch rd - Al Aziziyah Dist.,Al Aziziyah,24.5879545047283,46.7616813447038,10100003029,,
132,primary school 315,3284 al faria - Ishbiliyah Dist.,Ishbiliyah,24.7919359852376,46.7789619288017,10100003137,,
135,private schools assrar,6719 Al Meena - Al Mughrazat Dist.,Al Mughrazat,24.7583641444795,46.7237076201328,10100003105,,
136,riyadh alrayyan schools,9470 Al Imam Al Shafie - Al Rayan Dist.,Al Rayan,24.7257645987431,46.7844381279451,10100003090,,
137,primary and intermediate schoo,8249 akli ibn abdul karim - Ishbiliyah Dist.,Ishbiliyah,24.8015442102653,46.8085345929991,10100003137,,
138,private schools princes for boys,7996 an najah - Ishbiliyah Dist.,Ishbiliyah,24.7993158775706,46.8051974501583,10100003137,,
139,riyadh najed schoo,2471 al imam abdullah ibn saud ibn abdul aziz ...,Al Hamra,24.7772448180218,46.7352400823004,10100003129,,
141,rwaad alomaraa national schools,3324 Abdullah Bin Qays - Ishbiliyah Dist.,Ishbiliyah,24.7882141116476,46.7792656669992,10100003137,,
142,saut girls intermidate and secondary schoo,8661 tayma street - Assafarat Dist.,Assafarat,24.6915469259519,46.6295454804938,10100003099,,
145,saut kingredant and elementary schoo,8982 p street - Assafarat Dist.,Assafarat,24.6836272865708,46.6169120297159,10100003099,,
146,rwaad aljazera of the civil boys complex sch...,2754 al qadsiyyah - Al Mughrazat Dist.,Al Mughrazat,24.7569365113013,46.719758908559,10100003105,,
147,sahafah schoo,4222 al imam saud ibn faysal rd - Al Sahafah D...,Al Sahafah,24.7999271152529,46.6441533404598,10100003123,,
148,rwaad aljazera of the civil boys complex sch...,2754 al qadsiyyah - Al Mughrazat Dist.,Al Mughrazat,24.7570162685735,46.7197239261371,10100003105,,
149,saut boys intermidate and secondary schoo,7811 dareen street - Assafarat Dist.,Assafarat,24.6838116947986,46.6335861027143,10100003099,,
150,,7479 Obadah Bin Amdr Al Ansari - Al Rimal Dist.,Al Rimal,24.8361434467717,46.7971929468267,10100003153,,
151,,3525 al hawashlah - Al Yarmuk Dist.,Al Yarmuk,24.8158911369867,46.7911340269178,10100003139,,
152,,9103 al amir abdul aziz ibn musaid ibn jalawi ...,Al Murabba,24.6510855619999,-313.285739885,10100003021,,
153,,3872 street no. 390 - Al Munisiyah Dist.,Al Munisiyah,24.82653935534,46.7858033455832,10100003140,,
154,,4247 street no. 99 - Al Munisiyah Dist.,Al Munisiyah,24.8258602274258,46.7894745267393,10100003140,,
155,,7326 muhammad al manofi - Al Hamra Dist.,Al Hamra,24.7797004679402,46.7547880390511,10100003129,,
157,school 54 kindergarten,6797 ad duah - Al Shohda Dist.,Al Shohda,24.7832579560854,46.7375861513072,10100003016,,
158,schoo,3735 Al Hadrah - Ghirnatah Dist.,Ghirnatah,24.8016259605491,46.7575650469302,10100003155,,
159,school asmaa bent Abu Bakr primary,6353 Ali Al Qabesi - Al Hamra Dist.,Al Hamra,24.7712665012797,46.7607894980652,10100003129,,
162,school wahab bin manbah intermedia,3087 Saeed Al Sami - Al Khaleej Dist.,Al Khaleej,24.7687858270676,46.7871700730435,10100003055,,
164,school maaqal ibn yasar primary,3104 an nabighah ash shibani - Al Khaleej Dist.,Al Khaleej,24.7684907739027,46.7872766728967,10100003055,,
166,school my character,3628 at tahliyah - Al Aqeeq Dist.,Al Aqeeq,24.7823852400501,46.6286749317848,10100003107,,
169,schools alebtikariyah civ,7238 abdul rahman ibn mihanna - King Faisal Dist.,King Faisal,24.7581665291123,46.7697436372561,10100003027,,
170,schools ibn khaldun civ,3079 abdulaziz hasan al faduli - Al Nafel Dist.,Al Nafel,24.7724861780924,46.6702458698499,10100003083,,
171,,3475 as sail al kabir - Al Ghadeer Dist.,Al Ghadeer,24.7723349189637,46.6534450452511,10100003109,,
172,,3783 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8056186089347,46.775585408255,10100003139,,
173,,8283 ushba - Al Shohda Dist.,Al Shohda,24.7967127373159,46.7381527564934,10100003016,,
175,schools prospects,2545 wadi utbah - Al Nakheel Dist.,Al Nakheel,24.7359763534775,46.5957430249816,10100003108,,
176,schools sunrise typical knowledge benin,6574 al liwa - Al Yarmuk Dist.,Al Yarmuk,24.7959523737267,46.7675757963008,10100003139,,
177,schools generations of civilization,3958 muhammad ibn abdullah al burqi - Al Munis...,Al Munisiyah,24.8234468650492,46.7686782398023,10100003140,,
178,,6955 ath thumamah rd - Al Rabie Dist.,Al Rabie,24.7861513177004,46.6467662335278,10100003104,,
179,,3761 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8055353277995,46.7753498416155,10100003139,,
180,,6582 nahr as subat - East Naseem Dist.,East Naseem,24.7182734845132,46.8502580905853,10100003080,,
181,,"""8827 hera'a street - Assafarat Dist.""",Assafarat,24.6822590964924,46.6168644404956,10100003099,,
182,,3761 abi jaafar al mansur - Al Yarmuk Dist.,Al Yarmuk,24.8054877385795,46.7752237301822,10100003139,,
184,alat schoo,7425 Salem Bin Maaqil - Al Nakheel Dist.,Al Nakheel,24.7365744904878,46.6101901009382,10100003108,,
185,,3696 attawqi street - Assafarat Dist.,Assafarat,24.6787144927475,46.6290957623637,10100003099,,
186,,6815 al muharibi - Ishbiliyah Dist.,Ishbiliyah,24.7886238817542,46.8003291188817,10100003137,,
187,,2764 az zumrah - Al Fayha Dist.,Al Fayha,24.6804766255004,46.8036650074652,10100003133,,

In [1244]:
d['title'][187]='    '
d['title'][186]='  '
d['title'][185]='  '
d['type'][185]=' '
d['title'][182]=''
d['type'][182]=''
d['title'][181]='   '
d['title'][178]='  '
d['title'][179]='  '
d['title'][180]='  '
d['type'][180]=''
d['title'][173]='  '
d['title'][172]='  '
d['title'][171]='  '

In [1247]:
options = ['10100003101', '10100003016','10100003150']

In [1248]:
rslt_df = d.loc[d['id'].isin(options)]

In [1249]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 173
Data columns (total 8 columns):
title        15 non-null object
address      15 non-null object
district     15 non-null object
latitude     15 non-null object
longitude    15 non-null object
id           15 non-null object
gender       15 non-null object
type         15 non-null object
dtypes: object(8)
memory usage: 600.0+ bytes

In [1251]:
rslt_df.head(15)

,title,address,district,latitude,longitude,id,gender,type
0,192,6786 talal abdulrahman muhammad al mani - Al S...,Al Shohda,24.7831865722552,46.7383892193967,10100003016,,
4,354 elementary school girls,6757 ad duah - Al Shohda Dist.,Al Shohda,24.7829402980412,46.7377467649251,10100003016,,
10,91 school girls,3619 husain mufarrah hantul - Al Shohda Dist.,Al Shohda,24.7835113686825,46.7382143290127,10100003016,,
18,abdullah khayat primary schoo,7403 muhammad ibn ahmad ibn al khatib - Qurtub...,Qurtubah,24.8127482174675,46.7520765063841,10100003101,,
39,alhussan international schoo,7349 rumman - Qurtubah Dist.,Qurtubah,24.8046631114017,46.734610214948,10100003101,,
42,alsadara schools,7098 no. 107 - Al Narjis Dist.,Al Narjis,24.8192111818279,46.6853692813301,10100003150,,
46,alofoq schoo,4295 satam ghazay al mutairi - Al Shohda Dist.,Al Shohda,24.7845547998355,46.7447565383048,10100003016,,
54,amjad qurtoba private schools,3286 raya - Qurtubah Dist.,Qurtubah,24.8060011003166,46.7444554400477,10100003101,,
57,arqam private schools - girls sections,3624 abi muhammad ad dabbas - Al Shohda Dist.,Al Shohda,24.786043710058,46.7380775100049,10100003016,,
64,british international school riyadh,7680 ibrahim mubarak said ad dusari - Al Shohd...,Al Shohda,24.7912954176327,46.7300190799723,10100003016,,
74,dar albarra'at al'ahlia school,8007 Al Sonbolah - Al Narjis Dist.,Al Narjis,24.8429812545218,46.6675245236783,10100003150,,
102,ntermediata schoo,7191 al sharabi - Qurtubah Dist.,Qurtubah,24.8198961992185,46.7289508094412,10100003101,,
115,Learning Schools -Boys,4001 yafa - Qurtubah Dist.,Qurtubah,24.8269205678386,46.7455537447589,10100003101,,
157,school 54 kindergarten,6797 ad duah - Al Shohda Dist.,Al Shohda,24.7832579560854,46.7375861513072,10100003016,,
173,,8283 ushba - Al Shohda Dist.,Al Shohda,24.7967127373159,46.7381527564934,10100003016,,

In [1252]:
d['title'][157]='  54'
d['gender'][157]=''
d['title'][115]=' '
d['title'][102]='   '
d['title'][74]='   '
d['title'][64]='  '
d['title'][57]='  '
d['title'][54]="  "
d['title'][46]="  "
d['title'][18]="   "
d['title'][42]="  "
d['title'][39]="   "
d['title'][4]=" 192 "
d['title'][10]=" 91 "

In [1253]:
d.to_csv("school.csv")

### KPIs Calcuations

In [1254]:
c = d[['id','district']]

In [1255]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 0 to 187
Data columns (total 2 columns):
id          157 non-null object
district    157 non-null object
dtypes: object(2)
memory usage: 6.5+ KB

In [1256]:
c=c.drop_duplicates()

In [1257]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 187
Data columns (total 2 columns):
id          52 non-null object
district    52 non-null object
dtypes: object(2)
memory usage: 832.0+ bytes

In [1258]:
c['HighGirls']=0
c['HighBoys']=0
c['MiddleGirls']=0
c['MiddleBoys']=0
c['PrimaryGirls']=0
c['PrimaryBoys']=0
c['Kindergarten']=0
y=0

In [1259]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner]
            print(TYPE)
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='')  and (TYPE=='' or TYPE==' '): 
                 x=x+1
    c['HighGirls'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [1260]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='') and (TYPE=='' or TYPE==' '): 
                 x=x+1
    c['HighBoys'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1261]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='')  and (TYPE=='' or TYPE==' '): 
                 x=x+1
    c['MiddleBoys'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1262]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='')  and (TYPE=='' or TYPE==' '): 
                 x=x+1
    c['MiddleGirls'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1263]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='') and (TYPE=='' or TYPE==' ') :
                 x=x+1
    c['PrimaryGirls'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1264]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and (gender=='' or gender=='')  and (TYPE=='' or TYPE==' '): 
                 x=x+1
    c['PrimaryBoys'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1265]:
for outer, row in c.iterrows(): 
    x=0
    y=c['id'][outer]
    for inner, row in d.iterrows():
            ID=d['id'][inner]
            TYPE=d['type'][inner] 
            gender=d['gender'][inner]
            if ID==y and TYPE=='':
                 x=x+1
    c['Kindergarten'][outer]=x

C:\Users\jwoha\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [1266]:
c.tail(52)

,id,district,HighGirls,HighBoys,MiddleGirls,MiddleBoys,PrimaryGirls,PrimaryBoys,Kindergarten
0,10100003016,Al Shohda,5,3,6,3,6,3,1
1,10100003129,Al Hamra,4,2,5,3,6,2,0
2,10100003027,King Faisal,3,4,4,4,3,4,0
3,10100003139,Al Yarmuk,3,2,4,3,5,3,1
5,10100003137,Ishbiliyah,3,4,5,5,5,4,0
6,10100003155,Ghirnatah,1,1,1,1,2,1,0
8,10100003081,Al Quds,1,1,2,2,2,1,0
11,10100003079,Al Manar,1,2,1,1,1,1,0
12,10100003085,Al Taawun,1,1,1,1,1,1,0
13,10100003026,Al Woroud,2,2,2,1,2,1,0
15,10100003167,West Naseem,2,2,1,3,1,5,0
17,10100003107,Al Aqeeq,4,3,4,3,4,3,0
18,10100003101,Qurtubah,2,3,2,3,3,5,0
20,10100003073,Al Qadisiyah,1,1,1,1,1,1,0
21,10100003110,Al Muruj,3,3,3,3,3,3,0
24,10100003145,Al Malqa,0,0,1,0,1,2,0
25,10100003082,Al Wadi,0,0,0,0,0,1,0
26,10100003047,Al Rabwah,2,2,4,5,2,3,0
27,10100003036,Al Saadah,1,0,1,0,2,1,0
28,10100003089,Al Rawabi,2,1,3,1,2,1,0
29,10100003084,Al Maseef,3,3,3,3,3,3,0
34,10100003108,Al Nakheel,2,2,2,2,4,2,0
36,10100003086,Al Ezdihar,2,1,2,1,2,1,0
37,10100003051,Al Malaz,1,1,1,1,1,1,0
40,10100003105,Al Mughrazat,2,3,2,3,2,3,0
41,10100003055,Al Khaleej,1,2,1,2,1,3,0
42,10100003150,Al Narjis,1,2,1,2,1,2,0
48,10100003148,Al Arid,1,1,2,2,1,1,0
49,10100003090,Al Rayan,2,2,2,2,2,2,1
50,10100003147,Al Yasmeen,2,2,2,2,2,2,0
59,10100003130,Al Dar Al Baida,2,1,1,2,1,1,0
60,10100003099,Assafarat,1,1,2,3,3,3,0
61,10100003140,Al Munisiyah,2,3,2,3,2,4,0
69,10100003024,Al Mursalat,1,1,1,1,1,1,0
70,10100003013,Al Rahmaniyah,1,1,1,1,1,1,0
72,10100003022,Al Falah,2,2,2,2,2,2,0
78,10100003043,Salahuddin,1,1,1,1,1,1,0
86,10100003083,Al Nafel,1,1,1,1,1,1,0
88,10100003088,Al Rawdah,1,1,1,1,1,1,0
89,10100003123,Al Sahafah,1,1,1,1,1,1,0
91,10100003029,Al Aziziyah,2,2,2,2,3,3,0
93,10100003035,Al Jazeerah,0,0,0,1,0,0,0
94,10100003075,Al Olaya,0,0,0,1,0,1,0
99,10100003025,Al Nuzha,1,1,2,1,1,1,0
101,10100003041,King Abdullah,0,0,0,0,0,1,0
104,10100003080,East Naseem,0,1,0,1,0,0,0
108,PKAddressID': '1321138146876,Street': 'kharis branch rd,1,1,1,1,1,1,0
110,10100003104,Al Rabie,3,2,4,3,3,2,0
150,10100003153,Al Rimal,0,0,0,0,0,1,0
152,10100003021,Al Murabba,1,0,1,0,1,0,0
171,10100003109,Al Ghadeer,1,1,1,1,1,1,0
187,10100003133,Al Fayha,0,0,0,1,0,0,0

In [1267]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 187
Data columns (total 9 columns):
id              52 non-null object
district        52 non-null object
HighGirls       52 non-null int64
HighBoys        52 non-null int64
MiddleGirls     52 non-null int64
MiddleBoys      52 non-null int64
PrimaryGirls    52 non-null int64
PrimaryBoys     52 non-null int64
Kindergarten    52 non-null int64
dtypes: int64(7), object(2)
memory usage: 5.7+ KB

### Export Files

In [1271]:
c.to_json(R'C:\Users\jwoha\NationalAddressAPI\KPIs\SchoolKPIs.json', orient='records', lines=True)

In [1272]:
c.to_csv("schoolsKPI.csv")

In [6]:
with open(R'C:\Users\jwoha\NationalAddressAPI\POIs\SchoolPOIs.json', 'w', encoding='utf-8') as file:
    df.to_json(file, force_ascii=False, orient='records' )